<!DOCTYPE html>

<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>{% block title %}{% endblock %}</title>

        <meta name='description' content='{% block description %}{% endblock %}'>
        <meta name='format-detection' content='telephone=no'>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000">
        <meta name="apple-mobile-web-app-title" content="Stéréosuper">
        <meta name="application-name" content="Stéréosuper">
        <meta name="theme-color" content="#000">

        {% block stylesheets %}
            <link rel='stylesheet' type='text/css' href='css/main.css'>
            <link rel='stylesheet' type='text/css' href='https://cloud.typography.com/719316/609682/css/fonts.css'>
        {% endblock stylesheets %}

        {% block javascript_top %}{% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>

        {% block icons %}
            <svg style='position:absolute;width:0;height:0;overflow:hidden'>
                <defs>
                    <symbol id='icon-souvenir' viewBox='0 0 92 32'>
                    <title>Souvenir</title>
                    <path d='M1.265 32l-1.265-27.572 90.456-4.428 1.265 27.572-90.456 4.428zM43.609 23.405c0.074 1.619 1.135 2.53 2.902 2.437 1.060-0.056 1.935-0.391 2.512-1.060 0.465-0.54 0.781-1.265 0.986-2.251l0.893-4.409-1.935 0.093-0.837 4.093c-0.13 0.595-0.298 0.967-0.521 1.247-0.242 0.26-0.54 0.409-0.93 0.428-0.688 0.037-1.098-0.354-1.135-1.023-0.019-0.242 0.019-0.465 0.074-0.707l0.8-3.926-1.935 0.093-0.763 3.777c-0.093 0.428-0.13 0.837-0.112 1.209v0zM38.14 26.233c1.172-0.056 2.158-0.614 2.846-1.414 0.726-0.837 1.116-1.972 1.060-3.126-0.093-1.86-1.47-3.219-3.46-3.126-1.172 0.056-2.158 0.595-2.846 1.414-0.726 0.837-1.116 1.972-1.060 3.107 0.093 1.879 1.488 3.256 3.46 3.144v0zM30.344 26.605c0.967-0.056 1.767-0.409 2.27-0.986 0.391-0.447 0.595-1.023 0.577-1.693-0.056-1.098-0.8-1.581-1.898-1.954-0.967-0.354-1.191-0.447-1.191-0.744-0.019-0.279 0.26-0.521 0.726-0.558 0.707-0.037 1.321 0.242 1.86 0.707l1.116-1.451c-0.688-0.633-1.674-1.005-2.902-0.949-0.967 0.056-1.749 0.428-2.251 1.005-0.372 0.447-0.595 1.005-0.558 1.637 0.056 1.079 0.781 1.544 1.879 1.935 0.986 0.354 1.191 0.484 1.191 0.781 0.019 0.335-0.298 0.558-0.763 0.577-0.763 0.037-1.488-0.26-2.177-0.893l-1.172 1.414c0.8 0.8 1.935 1.247 3.293 1.172v0zM9.377 9.488c-0.967 0.056-1.749 0.428-2.251 1.005-0.372 0.447-0.595 1.005-0.558 1.637 0.056 1.079 0.781 1.544 1.879 1.935 0.986 0.354 1.191 0.484 1.191 0.781 0.019 0.335-0.298 0.558-0.763 0.577-0.763 0.037-1.488-0.26-2.177-0.893l-1.172 1.414c0.8 0.819 1.916 1.247 3.274 1.191 0.967-0.056 1.767-0.409 2.27-0.986 0.391-0.447 0.595-1.023 0.577-1.693-0.056-1.098-0.8-1.581-1.898-1.954-0.967-0.354-1.191-0.447-1.191-0.744-0.019-0.279 0.26-0.521 0.726-0.558 0.707-0.037 1.321 0.242 1.86 0.707l1.116-1.451c-0.688-0.651-1.674-1.023-2.884-0.967v0zM17.060 9.098c-1.172 0.056-2.158 0.595-2.846 1.414-0.726 0.837-1.116 1.972-1.060 3.107 0.093 1.86 1.47 3.237 3.46 3.126 1.172-0.056 2.158-0.614 2.846-1.414 0.726-0.837 1.116-1.972 1.060-3.126-0.074-1.842-1.47-3.2-3.46-3.107v0zM27.423 8.744l-0.837 4.093c-0.13 0.595-0.298 0.967-0.521 1.246-0.242 0.26-0.54 0.409-0.93 0.428-0.688 0.037-1.098-0.354-1.135-1.023-0.019-0.242 0.019-0.465 0.074-0.707l0.8-3.926-1.935 0.093-0.763 3.777c-0.093 0.409-0.13 0.819-0.112 1.191 0.074 1.619 1.135 2.53 2.902 2.437 1.060-0.056 1.935-0.391 2.512-1.079 0.465-0.54 0.781-1.265 0.986-2.251l0.893-4.409-1.935 0.13zM35.814 8.316l-2.512 4.763-0.595-4.595-2.084 0.112 1.265 7.349 1.786-0.093 4.335-7.628-2.195 0.093zM39.349 8.149l-1.544 7.442 5.6-0.279 0.353-1.749-3.702 0.186 0.242-1.191 3.312-0.167 0.335-1.619-3.312 0.167 0.242-1.135 3.647-0.186 0.372-1.749-5.544 0.279zM51.349 7.572l-0.856 4.13-1.991-4-1.786 0.093-1.544 7.442 1.916-0.093 0.874-4.298 2.065 4.149 1.693-0.074 1.526-7.442-1.898 0.093zM55.237 7.367l-1.526 7.442 1.916-0.093 1.526-7.442-1.916 0.093zM54.846 22.549l-0.595-4.595-2.102 0.093 1.265 7.349 1.786-0.093 4.335-7.628-2.158 0.112-2.53 4.763zM64.8 9.172c-0.019-0.595-0.223-1.116-0.595-1.488-0.484-0.465-1.265-0.688-2.419-0.633l-2.623 0.13-1.544 7.442 1.935-0.093 0.465-2.251 0.688-0.037h0.167l1.023 2.177 2.121-0.112-1.191-2.419c0.688-0.242 1.116-0.577 1.395-0.893 0.428-0.502 0.614-1.116 0.577-1.823v0zM60.893 17.619l-1.544 7.442 5.6-0.279 0.353-1.749-3.702 0.186 0.242-1.191 3.312-0.167 0.335-1.619-3.312 0.167 0.242-1.135 3.647-0.186 0.372-1.749-5.544 0.279zM72.893 17.042l-0.856 4.13-1.991-4-1.786 0.093-1.544 7.442 1.916-0.093 0.874-4.298 2.065 4.149 1.693-0.074 1.526-7.442-1.898 0.093zM76.781 16.856l-1.526 7.442 1.916-0.093 1.526-7.442-1.916 0.093zM86.344 18.66c-0.019-0.595-0.223-1.116-0.595-1.488-0.484-0.465-1.265-0.688-2.419-0.633l-2.623 0.13-1.544 7.442 1.954-0.112 0.465-2.251 0.688-0.037h0.167l1.023 2.177 2.121-0.112-1.191-2.419c0.688-0.242 1.116-0.577 1.395-0.893 0.409-0.484 0.595-1.116 0.558-1.805v0zM82.995 20.074l-1.098 0.056 0.372-1.805 1.042-0.056c0.409-0.019 0.688 0.056 0.856 0.223 0.13 0.112 0.205 0.279 0.205 0.465 0.019 0.26-0.074 0.465-0.223 0.651-0.205 0.279-0.633 0.447-1.153 0.465v0zM61.451 10.605l-1.098 0.056 0.372-1.805 1.042-0.056c0.409-0.019 0.688 0.056 0.856 0.223 0.13 0.112 0.205 0.279 0.205 0.465 0.019 0.26-0.074 0.465-0.223 0.633-0.205 0.298-0.633 0.465-1.154 0.484v0zM16.688 14.94c-0.986 0.056-1.563-0.614-1.6-1.544-0.037-0.614 0.205-1.302 0.595-1.786 0.316-0.372 0.763-0.633 1.284-0.651 0.986-0.056 1.563 0.614 1.6 1.544 0.037 0.614-0.205 1.302-0.595 1.767-0.316 0.372-0.763 0.633-1.284 0.67v0zM38.53 20.409c0.986-0.056 1.563 0.614 1.6 1.544 0.037 0.614-0.205 1.302-0.595 1.767-0.316 0.372-0.763 0.633-1.284 0.67-0.986 0.056-1.563-0.614-1.6-1.544-0.037-0.614 0.205-1.302 0.595-1.786 0.316-0.372 0.763-0.614 1.284-0.651v0z'></path>
                    </symbol>
                    <symbol id='icon-twitter' viewBox='0 0 30 32'>
                        <title>Twitter</title>
                        <path d='M28.929 7.286q-1.196 1.75-2.893 2.982 0.018 0.25 0.018 0.75 0 2.321-0.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768 0.973q-4.839 0-8.857-2.589 0.625 0.071 1.393 0.071 4.018 0 7.161-2.464-1.875-0.036-3.357-1.152t-2.036-2.848q0.589 0.089 1.089 0.089 0.768 0 1.518-0.196-2-0.411-3.313-1.991t-1.313-3.67v-0.071q1.214 0.679 2.607 0.732-1.179-0.786-1.875-2.054t-0.696-2.75q0-1.571 0.786-2.911 2.161 2.661 5.259 4.259t6.634 1.777q-0.143-0.679-0.143-1.321 0-2.393 1.688-4.080t4.080-1.688q2.5 0 4.214 1.821 1.946-0.375 3.661-1.393-0.661 2.054-2.536 3.179 1.661-0.179 3.321-0.893z'/>
                    </symbol>
                    <symbol id='icon-facebook' viewBox='0 0 19 32'>
                        <title>Facebook</title>
                        <path d='M17.125 0.214v4.714h-2.804q-1.536 0-2.071 0.643t-0.536 1.929v3.375h5.232l-0.696 5.286h-4.536v13.554h-5.464v-13.554h-4.554v-5.286h4.554v-3.893q0-3.321 1.857-5.152t4.946-1.83q2.625 0 4.071 0.214z'/>
                    </symbol>
                    <symbol id='icon-big-arrow' viewBox='0 0 90 32'>
                        <path d='M78.678 32h-5.009l9.322-16-9.322-16h5.009l11.13 15.652v0.765l-11.13 15.583zM0 17.391l0.070-3.061 84.104 0.278v2.783h-84.174z'/>
                    </symbol>
                    <symbol id='icon-arrow' viewBox='0 0 32 32'>
                        <title>External link</title>
                        <path d='M31.072 0.384l-17.472 0.832-2.592 2.592 12 3.328-22.592 22.592 1.792 1.792 22.56-22.56 3.296 11.936 2.592-2.624 0.832-17.472z'/>
                    </symbol>
                    <symbol id='icon-home' viewBox='0 0 32 32'>
                        <title>Home</title>
                        <path d='M15.994 0c-8.834 0-16 7.166-16 16s7.166 16 16 16 16-7.166 16-16-7.166-16-16-16z'/>
                        <path fill='#fff' d='M15.943 7.040l-8.72 8.8h2.12v8.806h13.309v-8.806h2.12z'/>
                    </symbol>
                    <symbol id='icon-stereo' viewBox='0 0 32 32'>
                        <title>Stereo</title>
                        <path d='M16 0c-8.838 0-16 7.162-16 16 0 7.558 5.242 13.894 12.288 15.565l1.152-6.56c0-0.198 0-0.294 0-0.493 0-0.493-0.096-0.691-0.288-0.787-0.198-0.198-0.39-0.883-0.685-2.163-0.397-0.493-0.499-1.184-0.691-2.163 0-0.883 0-1.376 0-1.478-0.192-0.198-0.198-0.493 0-0.89l-0.294-0.493c-0.294-0.493-0.198-1.088 0.294-1.875 0.198-0.198 0.397-0.173 0.691-0.301h0.493c-0.493-0.512-0.589-0.979-0.493-1.376 0.294-0.493 0.691-0.787 1.28-0.883 0.096 0 0.397 0.096 0.691 0.493l0.691 0.493-0.397-0.986-1.971-5.907c-0.397-0.986-0.294-1.478 0.397-1.67 0.294-0.096 0.493 0 0.787 0.294l0.493 0.397 2.758 7.29h0.397l0.096-2.566-0.096-3.744c-0.198-1.773 0.198-2.56 0.986-2.362 0.294 0.096 0.493 0.493 0.691 1.184 0.096 0.294 0.096 0.589 0.096 0.986l0.294 5.12c0 2.464 0.198 4.038 0.397 4.723l0.397 1.478c0.198 0.198 0.397 0.986 0.198 2.067l-1.28 5.12-0.096 6.003 0.275 1.088c7.117-1.606 12.448-7.981 12.448-15.603 0-8.838-7.162-16-16-16z'/>
                    </symbol>
                    <symbol id='icon-super' viewBox='0 0 32 32'>
                        <title>Super</title>
                        <path d='M9.254 14.125c-0.685-0.589-0.685-1.082 0-1.664 0.589-0.589 1.568-0.589 3.238 0.294 0.685 0.39 1.37 0.493 2.061 0.493h1.082c0.294-0.39 0.39-0.787 0.39-1.274-0.198-0.589-0.294-1.082-0.294-1.37-0.39-1.178-0.096-2.061 0.883-2.746 0.294-0.39 0.39-0.39 0.589-0.198l0.294 0.493v0.678l0.685 2.746c0.493 1.178 0.883 2.157 1.178 2.944 0.589 2.253 0.979 3.629 1.274 4.314 0.198 0.493 2.157 1.568 5.587 3.136l3.923 1.766c0.493-1.082 0.883-2.253 1.274-3.629 1.178-4.218 0.685-8.237-1.568-12.058s-5.491-6.272-9.709-7.45-8.333-0.589-12.16 1.568c-3.731 2.349-6.278 5.581-7.456 9.798-1.082 4.218-0.493 8.237 1.664 11.962 2.157 3.923 5.395 6.374 9.606 7.45 4.314 1.274 8.333 0.685 12.256-1.568l-7.258-5.395c-0.39 0.096-1.178 0-2.547-0.493-0.589-0.096-1.664-0.685-3.136-1.568-0.493 0-0.787-0.198-1.082-0.787h-0.39c-0.294-0.096-0.493-0.39-0.589-0.685-0.493-0.787-0.39-1.274 0.096-1.568-0.979-0.294-1.274-0.787-1.274-1.472 0.096-0.39 0.294-0.787 0.493-0.883l0.39-0.198c-0.39-0.198-0.589-0.685-0.589-1.274 0-0.39 0.198-0.787 0.589-0.979l0.499-0.384z'/>
                    </symbol>
                    <pattern id='dash' width='10' height='2' patternUnits='userSpaceOnUse'>
                        <path fill='#009be3' d='M0 0H7V2H0z'/>
                        <path fill='#000' d='M0 7H10V2H0z'/>
                    </pattern>
                    <pattern id='dot' width='7' height='4' patternUnits='userSpaceOnUse'>
                        <path fill='#009be3' d='M0 2A2 2 0 0 0 4 2A2 2 0 0 0 0 2'/>
                        <path fill='#000' d='M0 4H7V4H0z'/>
                    </pattern>
                    <pattern id='twist' width='7' height='8' patternUnits='userSpaceOnUse'>
                        <path fill='#009be3' d='M0 7L5 0L6 1L1 8z'/>
                        <path fill='#000' d='M 0 1 H 1 V 1 H 0 z'/>
                    </pattern>
                </defs>
            </svg>
        {% endblock icons %}

        <header id='header'>
            <div class='container'>
                <div class='header-left'>
                    <a href='./' id='logo'>
                        <svg class='icon stereo'><use xlink:href='#icon-stereo'/></svg><svg class='icon super'><use xlink:href='#icon-super'/></svg><span><strong>Stéréo</strong>super</span>
                    </a>
                    <ul class='menu-contact'>
                        <li>
                            <a href='mailto:bisou@stereosuper.fr' title='Envoyez nous un email' class='link-arrow'>
                                <span>bisou@stereosuper.fr</span>
                                <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                                <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                            </a>
                        </li>
                        <li>
                            <div class='tel-number'>+33 9 51 24 85 36</div>
                        </li>
                    </ul>
                </div>

                <div class='header-right'>
                    <ul class='menu-header'>
                        <li>
                            <a href='#'><span>À propos</span></a>
                        </li>
                        <li>
                            <a href='https://www.google.fr/maps/place/St%C3%A9r%C3%A9osuper/@47.2082126,-1.5728455,17z/data=!3m1!4b1!4m5!3m4!1s0x4805ec71a9670acd:0x10ec4e5d2650ddf0!8m2!3d47.208209!4d-1.5706515' target='_blank' title='Trouvez-nous sur Google Maps'><span>Nous trouver</span></a>
                        </li>
                    </ul>

                    <div class='lang-social'>
                        <div class='lang'>
                            <span class='non-active'>
                                fr
                            </span><span class='slash'>
                                /
                            </span><a href='#' title='English'>
                                en
                            </a>
                        </div>

                        <ul class='social'>
                            <li>
                                <a href='https://twitter.com/stereosuper' target='_blank' title='Suivez-nous sur Twitter'>
                                    <svg class='icon twitter'><use xlink:href='#icon-twitter'/></svg>
                                </a>
                            </li><li>
                                <a href='https://www.facebook.com/stereosuper' target='_blank' title='Suivez-nous sur Facebook'>
                                    <svg class='icon facebook'><use xlink:href='#icon-facebook'/></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main id='barba-wrapper'>
            {% block content %}{% endblock %}
        </main>

        <footer>
        </footer>

        {% block javascript_bottom %}
            <script src='js/main.js' defer></script>
        {% endblock %}
    </body>

</html>
