<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='format-detection' content='telephone=no' />

        <title></title>

        {% block stylesheets %}
            <link rel='stylesheet' href='css/main.css'>
            <link rel='stylesheet' type='text/css' href='https://cloud.typography.com/719316/609682/css/fonts.css' />
        {% endblock stylesheets %}

        {% block javascript_top %}{% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>
        {% block icons %}
            <svg style='position: absolute; width: 0; height: 0; overflow: hidden;'>
                <defs>
                    <symbol id='icon-twitter' viewBox='0 0 30 32'>
                        <title>Twitter</title>
                        <path class='path1' d='M28.929 7.286q-1.196 1.75-2.893 2.982 0.018 0.25 0.018 0.75 0 2.321-0.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768 0.973q-4.839 0-8.857-2.589 0.625 0.071 1.393 0.071 4.018 0 7.161-2.464-1.875-0.036-3.357-1.152t-2.036-2.848q0.589 0.089 1.089 0.089 0.768 0 1.518-0.196-2-0.411-3.313-1.991t-1.313-3.67v-0.071q1.214 0.679 2.607 0.732-1.179-0.786-1.875-2.054t-0.696-2.75q0-1.571 0.786-2.911 2.161 2.661 5.259 4.259t6.634 1.777q-0.143-0.679-0.143-1.321 0-2.393 1.688-4.080t4.080-1.688q2.5 0 4.214 1.821 1.946-0.375 3.661-1.393-0.661 2.054-2.536 3.179 1.661-0.179 3.321-0.893z'></path>
                    </symbol>
                    <symbol id='icon-facebook' viewBox='0 0 19 32'>
                        <title>Facebook</title>
                        <path class='path1' d='M17.125 0.214v4.714h-2.804q-1.536 0-2.071 0.643t-0.536 1.929v3.375h5.232l-0.696 5.286h-4.536v13.554h-5.464v-13.554h-4.554v-5.286h4.554v-3.893q0-3.321 1.857-5.152t4.946-1.83q2.625 0 4.071 0.214z'></path>
                    </symbol>
                    <symbol id='icon-big-arrow' viewBox='0 0 90 32'>
                        <title>big-arrow</title>
                        <path class='path1' d='M78.678 32h-5.009l9.322-16-9.322-16h5.009l11.13 15.652v0.765l-11.13 15.583zM0 17.391l0.070-3.061 84.104 0.278v2.783h-84.174z'></path>
                    </symbol>
                </defs>
            </svg>
        {% endblock icons %}
        <header id='header'>
            <div class='container'>
                <div class='header-left'>
                    <a href='#' id='logo'><strong>Stéréo</strong>super</a>
                    <a href='#' class='link-arrow'>bisou@stereosuper.fr <svg class='icon'><use xlink:href='#icon-big-arrow' /></svg></a>
                    <div class='tel-number'>+33 9 51 24 85 36</div>
                </div>
                <div class='header-right'>
                    <ul class='menu-header'>
                        <li>
                            <a href='#'>À propos</a>
                        </li>
                        <li>
                            <a href='#'>Nous trouver</a>
                        </li>
                    </ul>
                    <div class='lang-social'>
                        <span>fr</span>
                        <a href='#'>en</a>
                        <ul class='social'>
                            <li>
                                <a href='#'>
                                    <svg class='icon'><use xlink:href='#icon-twitter' /></svg>
                                </a>
                                
                            </li><li>
                                <a href='#'>
                                    <svg class='icon'><use xlink:href='#icon-facebook' /></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer>
        </footer>

        {% block javascript_bottom %}
            <script src='js/libs/jquery/dist/jquery.min.js' defer></script>
            
                <script src='js/libs/gsap/src/minified/TweenMax.min.js' defer></script>
                <script src='js/libs/gsap/src/minified/TimelineMax.min.js' defer></script>
            
            <script src='js/main.js' defer></script>
        {% endblock %}
    </body>
</html>
