{% extends 'layout.html.twig' %}

{% block body_attr %}class='portfolio {% block portfolio_slug %}{% endblock %}-portfolio'{% endblock %}

{# Meta #}
{% block title %}{% block portfolio_title %}{% endblock %} &bull; Stéréosuper{% endblock %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='portfolio {% block portfolio_slug %}{% endblock %}-portfolio'>
        <section class='p-relative'>
            <!--<img src='img/cover-{% block portfolio_slug %}{% endblock %}.png' alt='' class='portfolio-cover'>-->
            <img src='img/cover-akeneo.png' alt='' class='portfolio-cover'>
            <div class='container'>
                <div class='portfolio-text'>
                    <h1>{% block portfolio_title %}{% endblock %}</h1>
                    {% block portfolio_text %}{% endblock %}
                    <a href='./' class='btn-close'>Fermer</a>
                </div>
            </div>
        </section>
        <section class='portfolio-role'>
            <div class='container'>
                <div class='portfolio-role-content'>
                    {% block portfolio_role %}{% endblock %}
                    <a href='{% block portfolio_url %}{% endblock %}' class='btn' target='_blank'>
                        Voir le site
                        <svg class='icon i1'><use xlink:href='#icon-arrow'/></svg>
                        <svg class='icon i2'><use xlink:href='#icon-arrow'/></svg>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
