{% extends 'layout.html.twig' %}

{% block body_attr %}class='portfolio bw {% block portfolio_slug %}{% endblock %}-portfolio'{% endblock %}

{# Meta #}
{% block title %}{% block portfolio_title %}{% endblock %} &bull; Stéréosuper{% endblock %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='portfolio bw {% block portfolio_slug %}{% endblock %}-portfolio' data-namespace='portfolio'>
        <!--<div class='bgPortfolio'></div>-->
        <section class='portfolio-desc p-relative'>
            <div class='portfolio-cover {{ cover_class }}'>
                <img src='img/cover-{% block portfolio_slug %}{% endblock %}.{{ cover_ext }}' alt=''>
            </div>
            <div class='container p-relative'>
                <div class='portfolio-text'>
                    <h1 class='{% block portfolio_slug %}{% endblock %}'>{% block portfolio_title %}{% endblock %}</h1>
                    {% block portfolio_text %}{% endblock %}
                    <a href='./' class='btn-close'>Fermer</a>
                </div>
            </div>
            <!--<div class='portfolio-cover-mb'><img src='img/mb-cover-{% block portfolio_slug %}{% endblock %}.png' alt=''></div>-->
            <div class='portfolio-cover-mb'><img src='img/mb-cover-wisembly.png' alt=''></div>
        </section>

        <section class='portfolio-role'>
            <!--<div class='bgPagePortfolio'></div>-->
            <div class='container'>
                <div class='portfolio-role-content'>
                    {% block portfolio_role %}{% endblock %}

                    <ul class='skills'>
                        {% if strategy == true %}
                            <li class='skill' data-skill='strategy'>
                                <div class='symbol'>
                                    <div class='list-symbols dashes hoverAnimation'>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </div>
                                Stratégie d'image
                            </li>
                        {% endif %}
                        {% if identity == true %}
                            <li class='skill' data-skill='identity'>
                                <div class='symbol'>
                                    <div class='wrapper-waves hoverAnimation'>
                                        <svg class='icon waves'><use xlink:href='#icon-waves'/></svg>
                                    </div>
                                </div>
                                Identité visuelle
                            </li>
                        {% endif %}
                        {% if design == true %}
                            <li class='skill' data-skill='design'>
                                <div class='symbol'>
                                    <div class='wrapper-zigzags hoverAnimation'>
                                        <svg class='icon zigzags'><use xlink:href='#icon-zigzags'/></svg>
                                    </div>
                                </div>
                                Design
                            </li>
                        {% endif %}
                        {% if animation == true %}
                            <li class='skill' data-skill='animation'>
                                <div class='symbol'>
                                    <div class='list-symbols slashes hoverAnimation'>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </div>
                                Animation
                            </li>
                        {% endif %}
                        {% if dev == true %}
                            <li class='skill' data-skill='dev'>
                                <div class='symbol'>
                                    <div class='list-symbols dots hoverAnimation'>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                </div>
                                Développement
                            </li>
                        {% endif %}
                    </ul>

                    {% if website == true %}
                        <a href='{% block portfolio_url %}{% endblock %}' class='btn' target='_blank'>
                            Voir le site
                            <svg class='icon i1'><use xlink:href='#icon-arrow'/></svg>
                            <svg class='icon i2'><use xlink:href='#icon-arrow'/></svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
