/* Skills */

.skills{
    padding: 30px $gutter 60px;
    font-size: 1.3rem;
}

.skill{
    display: inline-block;
    vertical-align: bottom;
    width: 20%;
    transition: opacity $transition;
    &:before{
        display: none;
    }
    &.off{
        opacity: 0.3;
    }
    .js &{
        cursor: pointer;
    }
    &:last-child{
        margin: 0;
    }
    .symbol{
        display: block;
        position: relative;
        width: 95px;
        height: 16px;
        margin: 0 0 20px;
        background-size: 570px 66px;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .list-symbols{
        display: block;
        margin: 0;
        padding: 0;
        width: 150%;
        position: absolute;
        top: 0;
        left: 0;
        >li{
            display: inline-block;
            background: $blue-flash;
            padding: 0;
            &:before{
                display: none;
            }
        }
    }

    .dashes{
        >li{
            width: 8px;
            height: 2px;
            margin: 0 2px 0;

            transform: translate3d(0, 6px, 0);
            opacity: 0;
        }
    }
    
    .wrapper-waves{
        width: 0;
        height: 12px;
        position: relative;
        overflow: hidden;
    }
    .waves{
        width: 123px;
        height: 100%;
        fill: $blue-flash;

        transform: scaleY(0);
    }
    
    .wrapper-zigzags{
        width: 0;
        height: 12px;
        position: relative;
        overflow: hidden;
    }
    .zigzags{
        width: 123px;
        height: 100%;

        fill: $blue-flash;
        transform: scaleY(0);
    }

    .slashes{
        > li{
            display: inline-block;
            width: 8px;
            height: 2px;
            position: relative;
            margin: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            opacity: 0;
            background: none;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                transform: rotate(-60deg) translate3d(0, 0, 0);
                transform-origin: 50% 50%;
                background: $blue-flash;
                margin: -3px 0 0;
            }
        }
    }

    .dots{
        > li{
            width: 4px;
            height: 4px;
            margin: 0 3px 0 0;
            border-radius: 50%;

            transform: translate3d(0, 6px, 0);
            opacity: 0;
        }
    }
}
