/* Skills */

.skills{
    padding: 30px $gutter 60px;
    font-size: 1.3rem;
}

.skill{
    display: inline-block;
    vertical-align: bottom;
    width: 20%;
    transition: opacity $transition;
    &:before{
        display: none;
    }
    &.off{
        opacity: 0.3;
    }
    .js &{
        cursor: pointer;
    }
    svg{
        display: block;
        margin: 0 0 25px;
    }
}
