{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='e404'{% endblock %}

{# Meta #}
{% block title %}404 &bull; Stéréosuper &bull; Agence web pleine de Swag{% endblock %}
{% block description %}Si vous arrivez sur cette page, c'est que vous êtes paumés. Profitez-en pour jouer à chifoumi avec notre logo.{% endblock %}
{% block og_img %}img/stereosuper-website.jpg{% endblock %}
{% set og_url = '404.html' %}

{# Multilingue #}
{% set url_en = 'http://stereosuper.fr/404-error.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='e404' data-namespace='404' data-lang='{{ url_en }}'>

        <div class='container'>
            <div class='text-404'>
                <h1>Erreur 404</h1>
                <p>La page que vous cherchez n'existe pas. <br />Pour vous consoler, jouez-donc à retrouver les paires de gants&nbsp;!</p>
            </div>
            <div class='logo-404' id='logo404'>
                <div id='stereo'>
                    <img src='layoutImg/stereo-1.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-2.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-3.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-4.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-5.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-6.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-7.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-8.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-9.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-10.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-11.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-12.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-13.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-14.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-15.jpg' alt='' class='to-load'>
                </div>
                <div id='super'>
                    <img src='layoutImg/super-1.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-2.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-3.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-4.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-5.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-6.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-7.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-8.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-9.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-10.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-11.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-12.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-13.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-14.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-15.jpg' alt='' class='to-load'>
                </div>
                <span id='counter'><span></span><i></i></span>
            </div>
        </div>

    </div>
{% endblock content %}
