{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}kiubi{% endblock %}

{# Meta #}
{% block portfolio_title %}Kiubi{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p></p>
{% endblock %}

{% block portfolio_role %}
    <p></p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = true %}
{% set ux = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.kiubi.com/{% endblock %}

{% set prev_ref_link = 'iadvize.html' %}
{% set prev_ref_name = 'iAdvize' %}
{% set next_ref_link = 'drivy.html' %}
{% set next_ref_name = 'Drivy' %}
