{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='about'{% endblock %}

{# Meta #}
{% block title %}A propos &bull; Stéréosuper{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='about' data-namespace='about'>
        <div class='container-relative'>
            <div class='container container-title'>
                <div class='title'>
                    <h1>Super story</h1>
                    <p class='subtitle'><a href='https://twitter.com/hashtag/Vismavie' target='_blank'>#Vismavie</a> <a href='https://twitter.com/hashtag/3615malife' target='_blank'>#3615malife</a> <a href='https://twitter.com/hashtag/StephaneBern' target='_blank'>#StephaneBern</a></p>
                </div>

                <header class='content-about'>
                    <p data-year='2008'>Après des années à travailler chez les autres, on décide de créer l’agence de nos rêves.</p>
                    <p>Celle qui consacre 100 % de son temps à ses clients. <br>
                    Pas à des maquettes en avant­-vente.</p>
                    <p>Celle qui travaille en co­-création avec le client. Dès les croquis.</p>
                    <p>Celle où on tire le meilleur des contraintes projet, <br>
                    plutôt que de pleurnicher comme des fillettes.</p>
                </header>
            </div>
            <div class='container container-year-landmark'>
                <div class='year-landmark-wrapper'>
                    <div class='year-landmark'>
                        <span></span>
                        <div class='border-svg'>
                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 102 102' id='yearSvg'>
                               <path stroke-width='1' d='M50,0L50,0c27.6,0,50,22.4,50,50v0c0,27.6-22.4,50-50,50h0C22.4,100,0,77.6,0,50v0C0,22.4,22.4,0,50,0z'/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class='content-white'>
                <div class='container'>
                    <section class='content-about'>
                        <h2>C'est décidé</h2>
                        <p class='subtitle-about'>Et on s’appelera “Méganet” ! <br>
                        Quoi ? C’est déjà pris ? Bon, “Stéréosuper”, c’est bien aussi.</p>
                        <div class='intro-img'>
                            <img class='animateOnScroll pola-1' src='img/casquette.png' width='330' alt=''>
                            <a href='https://vimeo.com/27150543' target='_blank'><img class='animateOnScroll pola-2' src='img/kimono.png' width='330' alt=''></a>
                            <a href='https://vimeo.com/25092097' target='_blank'><img class='animateOnScroll pola-3' src='img/masques.png' width='330' alt=''></a>
                        </div>
                        <p data-year='2010' >Drivy voulait que les Français comprennent qu’une voiture a <br>mieux à faire que stationner 97 % du temps. On s’est trouvés.</p>
                        <p class='subtitle-about'>On a designé la page qui s’est montrée très performante. <br>
                        On s’est rendu compte qu’on aime beaucoup…</p>
                        <h2>Utiliser notre créativité <br>pour convaincre</h2>
                    </section>

                    <section class='content-about'>
                        <p>Nous avons depuis accompagné beaucoup de startups, <br>
                        surtout  lors de leurs premières phases de croissance importantes.</p>
                        <p class='subtitle-about'>Pour convaincre. Élargir la cible. Valoriser un produit.</p>
                        <h2>Donner une image <br>plus qualitative</h2>
                        <p data-year='2012'>Nous avons ainsi donné une cravate rouge à <a href='chauffeur-prive.html'>Chauffeur Privé</a>, <br>désigné leur application mobile et leur site internet.</p>
                        <img src='img/cravate.png' width='280' alt='' class='animateOnScroll img-cp'>

                        <p class='text-img'>
                            <span data-year='2013'>Bâti le site d'<a href='iadvize.html'>iAdvize</a></span>
                        </p>

                        <p class='text-img'>
                            <span data-year='2015'>Réfléchi à la nouvelle image de <a href='captain-train.html'>Captain Train</a></span>
                            <img src='img/sac.png' width='330' alt='' class='animateOnScroll img-sac'>
                        </p>

                        <p class='text-img'>
                            <span data-year='2016'>Bâti le site d’<a href='akeneo.html'>Akeneo</a>, et d'<a href='alvencapital.html'>Alven Capital</a></span>
                        </p>
                    </section>

                    <section class='content-about'>
                        <p>De recommandation en recommandation, Stéréosuper a grandi. <br>
                        Recruté des gens talentueux, avec les mêmes envies.</p>
                        <h2>Devenir la grosse agence <br>n’a jamais été notre ambition.</h2>
                        <p class='subtitle-about'>L’objectif a toujours été d’améliorer la qualité de nos productions.</p>
                        <p>Nous sommes maintenant 6 à faire des choses super.</p>
                        <p class='legend'>En plus de partager une fascination pour les <a href='https://www.youtube.com/watch?v=oKI-tD0L18A' target='_blank'>chatons</a>, les <a href='https://www.youtube.com/watch?v=U4CV9LebIa8' target='_blank'>Furbys</a>, la <a href='https://www.youtube.com/watch?v=sxkYMV30Lzs' target='_blank'>musique pourrie</a> le vendredi et les <a href='https://www.youtube.com/watch?v=UDSApoI2Xy0' target='_blank'>Nerfs</a>.</p>

                        <div class='team'>
                            <img class='animateOnScroll pola-team-1' src='img/boris.png' width='215' alt=''>
                            <img class='animateOnScroll pola-team-2' src='img/adrien.png' width='225' alt=''>
                            <img class='animateOnScroll pola-team-3' src='img/vincent.png' width='225' alt=''>
                            <img class='animateOnScroll pola-team-4' src='img/boris.png' width='215' alt=''>
                            <img class='animateOnScroll pola-team-5' src='img/adrien.png' width='225' alt=''>
                            <img class='animateOnScroll pola-team-6' src='img/vincent.png' width='225' alt=''>
                        </div>

                        <p>
                            Toutes ces challenges nous ont rendus meilleurs. Professionnellement et humainement. <br>
                            Nous adorons mettre cette expérience au profit d’une large gamme de projets et de clients. <br>
                            <span class='p-relative fade-txt-wrapper'>
                                <span class='open-txt-about'>Même <button role='button' id='openTxtAbout'>là où on ne nous attend pas</button>.</span>
                                <span class='fade-txt'>
                                    Vous pensiez que vendre du fioul était ringard ? <a href='fioulreduc.html'>Faux</a> <br>
                                    Que les grands du BTP étaient forcément bavards ? <a href='leon-grosse.html'>Faux</a> <br>
                                    Que les VC étaient pompeux ? <a href='alvencapital.html'>Faux</a>
                                </span>
                            </span>
                        </p>

                        <p data-year='now' class='last-p'>Et c'est pas fini !</p>
                    </section>
                </div>
            </div>

            <div class='container container-year'>
                <div class='year-wrapper' id='year'></div>
            </div>

            <div class='container container-timeline'>
                <div id='timeline'>
                    <div id='content-timeline'>
                        <div id='tl'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='content-white hide-footer'>
            <div class='container'>
                <h2 class='title-about'>Et si on faisait ensemble, en stéréo, <span>un<span id='writting' data-text=' super concept ?,e super conversion ?, super logo ?,e super campagne ?,e super stratégie ?,e super expérience ?, super site internet ?'> super site internet ?</span></span></h2>
                <a href='mailto:contact@stereosuper.fr' class='link-arrow'>
                    <span>Contactons-nous</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </div>

        <footer class='footer-page-about'>
            <div class='container'>
                <div class='year'>Tomorrow</div>
                <div class='content-about'>
                    <p>Last but not least, Stéréosuper ose l’aventure américaine et se développe à Brooklyn, New York.
                        <a href='#' class='link-arrow'>
                            <span>Want to talk about it?</span>
                            <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                            <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}
