{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}akeneo{% endblock %}

{# Meta #}
{% block portfolio_title %}Akeneo &bull; Portfolio de Stéréosuper &bull; Agence web culottée{% endblock %}
{% block description %}En 2016, Stéréosuper a refondu leur site Internet d'Akeneo, une start-up nantaise qui s'occupe de gestion de catalogue produit (PIM).{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Akeneo est une solution de gestion de catalogue produit (PIM) adaptée à la diversité des marchés et supports, utilisée par exemple par Vuitton, Auchan, Made.com, Pimkie et de nombreux autres géants de la vente.&nbsp;<br>En 2014, la start-up nantaise lève 1,6 millions d'Euros.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2016, nous avons refondu leur site Internet.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.akeneo.com/fr/{% endblock %}

{% set prev_ref_link = 'la-belle-boite.html' %}
{% set prev_ref_name = 'La Belle Boîte' %}
{% set next_ref_link = 'captain-train.html' %}
{% set next_ref_name = 'Captain Train' %}
