{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}alven{% endblock %}

{# Meta #}
{% block portfolio_title %}Alven Capital{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Alven Capital est l'un des fonds d'investissement indépendants français les plus reconnus. Vous trouverez dans leur prestigieux portefeuille de nombreuses références de Stéréosuper, telles que <a href='drivy.html' title='Drivy'>Drivy</a>, <a href='iadvize.html' title='iAdvize'>iAdvize</a>, <a href='wisembly.html' title='Wisembly'>Wisembly</a>, <a href='captain-train.html' title='Captain Train'>Captain Train</a> et <a href='akeneo.html' title='Akeneo'>Akeneo</a>.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2016, nous avons refondu leur site Internet.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://alvencapital.com{% endblock %}

{% set prev_ref_link = 'myforum.html' %}
{% set prev_ref_name = 'myForum' %}
{% set next_ref_link = 'la-belle-boite.html' %}
{% set next_ref_name = 'La Belle Boîte' %}
