{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}aa{% endblock %}

{# Meta #}
{% block portfolio_title %}L'Architecture d'Aujourd'hui &bull; Portfolio de Stéréosuper &bull; Agence web dans le vent{% endblock %}
{% block description %}En 2015, Stéréosuper a refondu leur site Internet de l'Architecture d'Aujourd'hui, une revue française d'architecture crée en 1930.{% endblock %}

{# Multilingue #}
{% set url_en = 'architecture-aujourdhui-en.html' %}

{# Content #}
{% block portfolio_text %}
    <p>L'Architecture d'Aujourd'hui (AA) est une revue française d'architecture emblématique du Mouvement moderne.&nbsp;<br>Elle ravit les architectes du monde entier depuis 1930.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2015, nous avons refondu leur site Internet.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.larchitecturedaujourdhui.fr/{% endblock %}

{% set prev_ref_link = 'captain-train.html' %}
{% set prev_ref_name = 'Captain Train' %}
{% set next_ref_link = 'institut-avignon.html' %}
{% set next_ref_name = "Institut d'Avignon" %}
