{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}captain{% endblock %}

{# Meta #}
{% block portfolio_title %}Captain Train{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Bla bla</p>
{% endblock %}

{% block portfolio_role %}
    <p></p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = false %}
{% set animation = false %}
{% set dev = false %}

{% set website = false %}

{% set prev_ref_link = 'akeneo.html' %}
{% set prev_ref_name = 'Akeneo' %}
{% set next_ref_link = 'architecture-aujourdhui.html' %}
{% set next_ref_name = "L'Architecture d'Aujourd'hui" %}
