{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}chauffeur{% endblock %}

{# Meta #}
{% block title %}Chauffeur-Privé &bull; Portfolio de Stéréosuper &bull; Agence web des hipsters{% endblock %}
{% block description %}De 2012 à 2015, Stéréosuper a accompagné Chauffeur-Privé dans le design de l'application, leur site Internet et l'ensemble de leurs opérations de communication.{% endblock %}
{% set og_url = 'chauffeur-prive.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/chauffeur-prive-en.html' %}

{# Content #}
{% block portfolio_title %}Chauffeur Privé{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Concurrent de Uber, Chauffeur-Privé est le leader français des VTC. La start-up a été valorisée en 2015 à 25 millions d'Euros et a réalisé une levée de fonds de 5 millions d'Euros.</p>
{% endblock %}

{% block portfolio_role %}
    <p>Entre 2012 et 2015, nous les avons accompagné dans la création de leur marque (la fameuse cravate rouge), le design de l'application, leur site Internet et l'ensemble de leurs opérations de communication.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left souvenir cp' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = false %}

{% set souvenir = true %}

{% set prev_ref_link = 'fioulreduc.html' %}
{% set prev_ref_name = 'FioulReduc' %}
{# {% set next_ref_link = 'proximis.html' %} #}
{# {% set next_ref_name = 'Proximis' %} #}
{% set next_ref_link = 'iadvize.html' %}
{% set next_ref_name = 'iAdvize' %}
