{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='contact bw'{% endblock %}

{# Meta #}
{% block title %}Nous trouver &bull; Stéréosuper{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='contact bw'>
        <div class='contact-container'>
            <div class='container'>
                <div class='title'>
                    <h1>Nous<br> trouver&nbsp;<sup>*</sup></h1>
                    <p>Pour le moment nous n'avons qu'une seule super adresse à Nantes. <br>Nous travaillons à l'ouverture de la prochaine à New York !</p>
                </div>
            </div>

            <div class='content'>
                <div class='container'>
                    <div class='grid'>
                        <b class='col'>
                            * Notre café est super bon.
                        </b><ul class='col'>
                            <li>
                                <a href='mailto:bisou@stereosuper.fr' title='Envoyez nous un email' class='link-arrow'>
                                    <span>bisou@stereosuper.fr</span>
                                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                                </a>
                            </li>
                            <li>
                                <a href='tel:+33951248536' title='Passez nous un coup de fil'>
                                    <strong>+33 9 51 24 85 36</strong>
                                </a>
                            </li>
                        </ul><ul class='col'>
                            <li><strong>92 Quai de la Fosse - 44100 NANTES</strong></li>
                            <li>
                                <a href='https://www.google.fr/maps/place/St%C3%A9r%C3%A9osuper/@47.2082126,-1.5728455,17z/data=!3m1!4b1!4m5!3m4!1s0x4805ec71a9670acd:0x10ec4e5d2650ddf0!8m2!3d47.208209!4d-1.5706515' target='_blank' class='link-arrow'>
                                    <span>Voir sur Google Maps</span>
                                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id='map'></div>

    </div>
{% endblock content %}

{% block javascript_bottom %}
    {{parent()}}

    <script src='js/libs/mapbox-gl.min.js'></script>
    <script>
       mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcmVvc3VwZXIiLCJhIjoiY2lyM2JnMDIwMDAxM2k0bWNndmUzeTFhbSJ9.UZ-XuPASxGVtYFSqdVyppg';

       var geojson = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "message": "Stéréosuper",
                        "iconSize": [30, 35]
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-1.5728402, 47.2082126]
                    }
                }
            ]
        };

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/stereosuper/ciuqyq3oc00so2jl8t50ltwwl',
            center: [-1.62, 47.2],
            zoom: 5,
            bearing: 20
        });

        geojson.features.forEach(function(marker){
            var elMarker = document.createElement('div');
            elMarker.className = 'marker';

            // el.addEventListener('click', function(){
            //     window.alert(marker.properties.message);
            // });

            new mapboxgl.Marker(elMarker, {offset: [-marker.properties.iconSize[0] / 2, -marker.properties.iconSize[1] / 2]})
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        });

        map.on('load', function(){
            var canvas = document.querySelector('.mapboxgl-canvas-container'), classes = canvas.className;
            canvas.className = classes + ' on';
            setTimeout(function(){
                map.easeTo({ duration: 7000, zoom: 12, bearing: 0 });
            }, 800);
            // map.once('moveend', function(){
            //     elMarker.className = 'marker on';
            // });
        });
    </script>
{% endblock javascript_bottom %}
