{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}drivy{% endblock %}

{# Meta #}
{% block title %}Drivy &bull; Portfolio de Stéréosuper &bull; Agence web des connaisseurs{% endblock %}
{% block description %}De 2012, Stéréosuper a travaillé sur le design du site Internet de Drivy, imaginé leur précédente mascotte et réalisé un motion de présentation du service.{% endblock %}
{% set og_url = 'drivy.html' %}

{# Multilingue #}
{% set url_en = 'http://stereosuper.fr/drivy-en.html' %}

{# Content #}
{% block portfolio_title %}Drivy{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Drivy permet aux particuliers de louer leur voiture. Depuis sa création, la start-up a permis la réservation de 1,4 million de journées de location.&nbsp;<br>En 2016, elle lève 31 millions d'Euros.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2012, nous avons travaillé sur le design du site Internet, imaginé leur précédente mascotte —une petite voiture rose— et réalisé une présentation animée du service.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'top souvenir' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = false %}

{% set website = false %}

{% set souvenir = true %}

{# {% set prev_ref_link = 'kiubi.html' %}
{% set prev_ref_name = 'Kiubi' %} #}
{% set prev_ref_link = 'iadvize.html' %}
{% set prev_ref_name = 'iAdvize' %}
{% set next_ref_link = '' %}
{% set next_ref_name = '' %}
