{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}fioulreduc{% endblock %}

{# Meta #}
{% block portfolio_title %}FioulReduc{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Fioulreduc est le premier service de vente en ligne de fioul domestique en France. En 2016, la start-up lève 3 millions d'Euros.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2012, nous avons refondu leur site Internet et leur Image.&nbsp;<br />En 2014, nous avons recommencé pour améliorer encore la conversion.&nbsp;<br />
    Nous les avons aussi accompagné sur diverses opérations de marketing ponctuelles.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left fioul' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.fioulreduc.com/{% endblock %}

{% set prev_ref_link = 'wisembly.html' %}
{% set prev_ref_name = 'Wisembly' %}
{% set next_ref_link = 'chauffeur-prive.html' %}
{% set next_ref_name = 'Chauffeur-Privé' %}
