{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}iadvize{% endblock %}

{# Meta #}
{% block title %}iAdvize &bull; Portfolio de Stéréosuper &bull; Agence web formidable{% endblock %}
{% block description %}En 2013, Stéréosuper a refondu le site d'iAdvize, une start-up en très forte croissante spécialisée dans la e-relation client.{% endblock %}
{% set og_url = 'iadvize.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/iadvize-en.html' %}

{# Content #}
{% block portfolio_title %}iAdvize{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>iAdvize est une solution de relation client qui permet aux commerçants d'interagir avec leurs prospects sur leur site ou réseaux sociaux.&nbsp;<br>En 2014, la start-up nantaise à la croissance impressionnante lève 14 millions d'Euros.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2013, nous avons refondu leur site Internet.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'portrait souvenir' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = false %}

{% set souvenir = true %}

{# {% set prev_ref_link = 'proximis.html' %}
{% set prev_ref_name = 'Proximis' %}
{% set next_ref_link = 'kiubi.html' %}
{% set next_ref_name = 'Kiubi' %} #}
{% set prev_ref_link = 'chauffeur-prive.html' %}
{% set prev_ref_name = 'Chauffeur Privé' %}
{% set next_ref_link = 'drivy.html' %}
{% set next_ref_name = 'Drivy' %}
