{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='bye'{% endblock %}

{# Meta #}
{% block title %}Bisou bisou ! &bull; Stéréosuper &bull; Agence de communication web{% endblock %}
{% block description %}Stéréosuper c’est une agence de communication web passionnée et très engagée! Nous adorons rendre nos clients meilleurs sur Internet.{% endblock %}
{% block og_img %}img/stereosuper-website.jpg{% endblock %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/bye.html' %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='bye' data-namespace='bye' data-lang='{{ url_en }}'>
        <div class='container'>
            <div class='container-small'>
                <p>
                    Après plus de 10 ans à 1/ mettre notre créativité au service de tout un tas de projets formidables et 2/ réinventer les manières de travailler d'une agence.
                </p>
                <p>
                    Nous avons décidé de <strong>clore le chapitre Stéréosuper</strong>.
                </p>
            </div>
            
            <h1>Stéréorevoir</h1>

            <div class='container-small'>
                <p>
                    Dedans, il y a eu tous les ingrédients d’une aventure exceptionnelle : 
                    des fous rires ; des défis ; des moments difficiles ; de vertigineux succès ; des dabs ringards ; un vrai escroc ; des journées déguisées ; des mèmes ; des clients pénibles ; des clients incroyables ; une maman insistante ; des déceptions ; de gros câlins ; des festivals ; des rushs d’adrénaline…
                </p>
 
                <p>Et comme toutes les grandes aventures, elle devait avoir une fin 😘</p>

                <p><strong>La plupart d’entre nous sont disponibles pour des projets freelance : </strong></p>
            </div>

            <ul class='team-bye'>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/boris.png' alt='Boris Forconi'>
                    <p>
                        <strong>Boris Forconi</strong>
                        <span>Ex-dirigeant</span>
                        <span class="status">En poste</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">borisforconi.net</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/jf.png' alt='Jean-François Perrrault'>
                    <p>
                        <strong>Jean-François Perrrault</strong>
                        <span>Ex-dirigeant</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">jf.cool</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/adrien.png' alt='Adrien Le Menthéour'>
                    <p>
                        <strong>Adrien Le Menthéour</strong>
                        <span>Ex-lead développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">menthe.tech</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/elisabeth.png' alt='Elisabeth Hamel'>
                    <p>
                        <strong>Elisabeth</strong>
                        <span>Ex-développeuse front-end</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">www.e-hamel.com</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/vincent.png' alt='Vincent Aribart'>
                    <p>
                        <strong>Vincent Aribart</strong>
                        <span>Ex-directeur artistique</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">vincentaribart.fr</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/clement.png' alt='Clément Lemoine'>
                    <p>
                        <strong>Clément Lemoine</strong>
                        <span>Ex-développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/julie.png' alt='Julie Duchêne'>
                    <p>
                        <strong>Julie Duchêne</strong>
                        <span>Ex-office manager</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/alban.png' alt='Alban'>
                    <p>
                        <strong>Alban Mezino</strong>
                        <span>Ex-développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">albanmezino.fr</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/raphael.png' alt='Raphaël Mucha'>
                    <p>
                        <strong>Raphaël Mucha</strong>
                        <span>Ex-UX designer</span>
                        <span class="status">Freelance</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <img class='animateOnScroll' src='img/team/celia.png' alt='Célia Frémondière'>
                    <p>
                        <strong>Célia Frémondière</strong>
                        <span>Ex-SX designer</span>
                        <span class="status">En poste</span>
                        <a href="#" target="_blank" rel="noopener noreferrer">linkedIn</a>
                    </p>
                </li>
            </ul>

            <div class='container-small'>
                <h2>
                    Et pour vos projets globaux, on recommande <a href="#" target="_blank" rel="noopener noreferrer">Les Indiens</a>
                </h2>
                <p>
                    Nous avons énormément travaillé avec eux ces dernières années. 
                </p>

                <p>
                    Pour les nostalgiques, quelques projets marquants par Stéréosuper :
                </p>
                <div>
                    <p>
                        <a href="#" target="_blank" rel="noopener noreferrer">Antilop</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Gens de Confiance</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Blinkl</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Aircall</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Proximis</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Thinkovery</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Stuart</a>
                    </p>
                    <p>
                        <a href="#" target="_blank" rel="noopener noreferrer">Trustfolio</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Clustree</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Precogs</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Corwave</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Groupe Beneteau</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Ector</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Beezup</a>
                    </p>
                    <p>
                        <a href="#" target="_blank" rel="noopener noreferrer">Akeneo</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Alven Capital</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Oyst</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Captain Train</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Chauffeur-Privé</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">iAdvize</a>
                        <a href="#" target="_blank" rel="noopener noreferrer">Drivy</a>
                    </p>
                </div>

                <h2>Merci</h2>
                <p>
                    Adeline, Adrien, Agathe, Agnes, Alain, Alban, Alexandre, Alexis, Alice, Alix, Aloÿs, Alvin, Amandine, Amaury, Amelie, Ana, Anaïs, Andoni, Anita, Anne, Anne-Lise, Anne-Sophie, Anthony, Antoine, Antonio, Arnaud, Aude, Audrey, Aurelie, Aurélien, Aurore, Axel, Axelle, Baptiste, Bastien, Benjamin, Benoit, Bertille, Bertrand, Betka, Bilkher, Camille, Capucine, Carole, Caroline, Catherine, Cedric, Celine, Charles, Charlotte, Christèle, Christine, Christophe, Claire, Claire-Anne, Clement, Cyril, Damien, David, Déborah, Delphine, Denis, Dominique, Dorian, Dorine, Edgar, Eliott, Elisabeth, Elise, Elizabeth, Elsa, Émilie, Emmanuel, Enguerrand, Eric, Étienne, Evan, Fabien, Fabrice, Fanny, Florent, Florian, François, Fred, Frederic, Gaël, Gaëtan, Ghislain, Gilbert, Gilles, Godefroy, Gregoire, Grégory, Guillaume, Hanh, Helena, Hervé, Isabelle, Isaure, Jacky, Jean, Jean-Daniel, Jean-François, Jean-Pierre, Jeremie, Jérémie, Jérémy, Jérôme, Jessy, Joeffrey, Johan, Jordan, Jules, Julie, Julien, Juliette, Justine, Kaelig, Karim, Kevin, Laetitia, Lamia, Laure, Laureline, Laurent, Lauriane, Loïc, Louise, Lucille, Maela, Maeva, Manoël, Manon, Manuel, Marc, Marc-Antoine, Marie, Marie-Capucine, Marie-Françoise, Marielle, Marine, Martin, Maryline, Mathias, Mathieu, Matthieu, Maud, Maxime, Meline, Michael, Mickael, Mirna, Misagh, Moïse, Morgan, Morgane, Nathalie, Nathaniel, Nicolas, Noah, Nolwenn, Oceane, Olivier, Omar, Ombeline, Othmane, Oualid, Pascal, Pascale, Patrice, Patrick, Paul, Paulin, Philippe, Phillipe, Philppe, Pierre, Pierre-Emmanuel, Raphaël, Regis, Renaud, Reynald, Richard, Robin, Romain, Ronan, Samuel, Sandrine, Sébastien, Séraphie, Serge, Servane, Simon, Stacy, Stéphane, Thaïs, Thelma, Théo, Thibaut, Thomas, Timothée, Tristan, Ulric, Valentin, Valérie, Victor, Vincent, Violaine, Xavier, Yan, Yannig, Yassine, Yoann, Yseult, Yves… Et tous ceux qu’on a involontairement oublié.
                    Bisous 😘
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
