{% extends 'layout/bye.html.twig' %}

{% block body_attr %}class='bye'{% endblock %}

{# Meta #}
{% block title %}Bisou bisou ! &bull; Stéréosuper &bull; Agence de communication web{% endblock %}
{% block description %}Après plus de 10 ans à mettre notre créativité au service de projets formidables, nous avons décidé de clore le chapitre Stéréosuper.{% endblock %}
{% block og_img %}img/stereosuper-website.jpg{% endblock %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/bye.html' %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='bye' data-namespace='bye' data-lang='{{ url_en }}'>
        <div class='container'>
            <div class='container-small'>
                <p>
                    Après plus de 10 ans à 1/ mettre notre créativité au service de tout un tas de projets formidables et 2/ réinventer les manières de travailler d'une agence.
                </p>
                <p>
                    Nous avons décidé de <strong>clore le chapitre Stéréosuper</strong>.
                </p>
            </div>
            
            <h1>Stéréorevoir</h1>

            <div class='container-small'>
                <p>
                    Dedans, il y a eu tous les ingrédients d’une aventure exceptionnelle : <br>
                    des fous rires ; des défis ; des moments difficiles ; de vertigineux succès ; des dabs ringards ; un vrai escroc ; des journées déguisées ; des mèmes ; des clients pénibles ; des clients incroyables ; une maman insistante ; des déceptions ; de gros câlins ; des festivals ; des rushs d’adrénaline…
                </p>
 
                <p>Et comme toutes les grandes aventures, elle devait avoir une fin 😘</p>

                <hr>

                <p><strong>La plupart d’entre nous est disponible pour des projets freelance : </strong></p>
            </div>

            <ul class='team-bye'>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.borisforconi.net/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/boris.png' alt='Boris Forconi'>
                    </a>
                    <p>
                        <strong>Boris Forconi</strong>
                        <span>Ex-dirigeant</span>
                        <span class="status on">En poste</span>
                        <a href="https://www.borisforconi.net/" target="_blank" rel="noopener noreferrer">borisforconi.net</a>
                        <a href="https://www.linkedin.com/in/borisforconi/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://jf.cool/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/jf.png' alt='Jean-François Perrrault'>
                    </a>
                    <p>
                        <strong>Jean-François Perrrault</strong>
                        <span>Ex-dirigeant</span>
                        <span class="status">Freelance</span>
                        <a href="https://jf.cool/" target="_blank" rel="noopener noreferrer">jf.cool</a>
                        <a href="https://www.linkedin.com/in/jfperrault/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://menthe.tech/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/adrien.png' alt='Adrien Le Menthéour'>
                    </a>
                    <p>
                        <strong>Adrien Le Menthéour</strong>
                        <span>Ex-lead développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="https://menthe.tech/" target="_blank" rel="noopener noreferrer">menthe.tech</a>
                        <a href="https://www.linkedin.com/in/adrien-le-menthéour-5a923483/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.e-hamel.com" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/elisabeth.png' alt='Elisabeth Hamel'>
                    </a>
                    <p>
                        <strong>Elisabeth Hamel</strong>
                        <span>Ex-développeuse front-end</span>
                        <span class="status">Freelance</span>
                        <a href="https://www.e-hamel.com" target="_blank" rel="noopener noreferrer">e-hamel.com</a>
                        <a href="https://www.linkedin.com/in/elisabeth-hamel/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.vincentaribart.fr/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/vincent.png' alt='Vincent Aribart'>
                    </a>
                    <p>
                        <strong>Vincent Aribart</strong>
                        <span>Ex-directeur artistique</span>
                        <span class="status">Freelance</span>
                        <a href="https://www.vincentaribart.fr/" target="_blank" rel="noopener noreferrer">vincentaribart.fr</a>
                        <a href="https://www.linkedin.com/in/vincent-aribart-32246552/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.linkedin.com/in/clement-lemoine/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/clement.png' alt='Clément Lemoine'>
                    </a>
                    <p>
                        <strong>Clément Lemoine</strong>
                        <span>Ex-développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="https://www.linkedin.com/in/clement-lemoine/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.linkedin.com/in/julie-duchene-office-manager-nantes/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/julie.png' alt='Julie Duchêne'>
                    </a>
                    <p>
                        <strong>Julie Duchêne</strong>
                        <span>Ex-office manager</span>
                        <span class="status">Freelance</span>
                        <a href="https://www.linkedin.com/in/julie-duchene-office-manager-nantes/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://albanmezino.fr/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/alban.png' alt='Alban'>
                    </a>
                    <p>
                        <strong>Alban Mezino</strong>
                        <span>Ex-développeur front-end</span>
                        <span class="status">Freelance</span>
                        <a href="https://albanmezino.fr/" target="_blank" rel="noopener noreferrer">albanmezino.fr</a>
                        <a href="https://www.linkedin.com/in/alban-mezino/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.linkedin.com/in/raphael-mucha/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/raphael.png' alt='Raphaël Mucha'>
                    </a>
                    <p>
                        <strong>Raphaël Mucha</strong>
                        <span>Ex-UX designer</span>
                        <span class="status">Freelance</span>
                        <a href="https://www.linkedin.com/in/raphael-mucha/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
                <li class='wrapperAnimateOnScroll'>
                    <a href="https://www.linkedin.com/in/celia-fremondiere/" target="_blank" rel="noopener noreferrer">
                        <img class='animateOnScroll' src='img/team/celia.png' alt='Célia Frémondière'>
                    </a>
                    <p>
                        <strong>Célia Frémondière</strong>
                        <span>Ex-SX designer</span>
                        <span class="status on">En poste</span>
                        <a href="https://www.linkedin.com/in/celia-fremondiere/" target="_blank" rel="noopener noreferrer">linkedin</a>
                    </p>
                </li>
            </ul>

            <div class='container-small'>
                <h2 class="big-link-bye">
                    Et pour vos projets globaux,<br> on recommande&nbsp;
                    <a href="https://www.lesindiens.fr/" class="link-arrow" target="_blank" rel="noopener noreferrer">
                        <span>Les Indiens</span>
                        <svg class="icon i1"><use xlink:href="#icon-big-arrow"/></svg>
                        <svg class="icon i2"><use xlink:href="#icon-big-arrow"/></svg>
                    </a>
                </h2>
                <p>
                    Nous avons énormément travaillé avec eux ces dernières années. 
                </p>

                <hr>

                <p>
                    Pour les nostalgiques, quelques projets marquants par Stéréosuper :
                </p>
                <div class="projects-bye">
                    <p>
                        <a href="https://www.antilop.fr/" target="_blank" rel="noopener noreferrer">Antilop</a>
                        <a href="https://gensdeconfiance.com/fr/" target="_blank" rel="noopener noreferrer">Gens de Confiance</a>
                        <a href="https://blinkl.com/" target="_blank" rel="noopener noreferrer">Blinkl</a>
                        <a href="https://aircall.io/fr/" target="_blank" rel="noopener noreferrer">Aircall</a>
                        <a href="https://www.proximis.com/" target="_blank" rel="noopener noreferrer">Proximis</a>
                        <a href="https://thinkovery.com/" target="_blank" rel="noopener noreferrer">Thinkovery</a>
                        <a href="https://stuart.com/fr/" target="_blank" rel="noopener noreferrer">Stuart</a>
                    </p>
                    <p>
                        <a href="https://trustfolio.co/" target="_blank" rel="noopener noreferrer">Trustfolio</a>
                        <a href="https://www.clustree.com/" target="_blank" rel="noopener noreferrer">Clustree</a>
                        <a href="https://www.precogs.com/" target="_blank" rel="noopener noreferrer">Precogs</a>
                        <a href="https://www.corwave.com/fr/" target="_blank" rel="noopener noreferrer">Corwave</a>
                        <a href="https://www.beneteau-group.com/" target="_blank" rel="noopener noreferrer">Groupe Beneteau</a>
                        <a href="https://www.ectorparking.com/fr/" target="_blank" rel="noopener noreferrer">Ector</a>
                        <a href="https://www.beezup.com/" target="_blank" rel="noopener noreferrer">Beezup</a>
                    </p>
                    <p>
                        <a href="https://www.akeneo.com/fr/" target="_blank" rel="noopener noreferrer">Akeneo</a>
                        <a href="https://alven.co/" target="_blank" rel="noopener noreferrer">Alven Capital</a>
                        <span class="old">Oyst</span>
                        <span class="old">Captain Train</span>
                        <span class="old">Chauffeur-Privé</span>
                        <a href="https://www.iadvize.com/fr/" target="_blank" rel="noopener noreferrer" class="old">iAdvize</a>
                        <span class="old">Drivy</span>
                    </p>
                </div>

                <p>
                    Et pour les nostalgiques nostalgiques,&nbsp;&nbsp;
                    <a href="/accueil.html" class="link-arrow no-barba">
                        <span>notre ancien site</span>
                        <svg class="icon i1"><use xlink:href="#icon-big-arrow"/></svg>
                        <svg class="icon i2"><use xlink:href="#icon-big-arrow"/></svg>
                    </a>
                </p>

                <hr>

                <h2>Merci</h2>
                <p>
                    Adeline, Adrien, Agathe, Agnes, Alain, Alban, Alexandre, Alexis, Alice, Alix, Aloÿs, Alvin, Amandine, Amaury, Amelie, Ana, Anaïs, Andoni, Anita, Anne, Anne-Lise, Anne-Sophie, Anthony, Antoine, Antonio, Arnaud, Aude, Audrey, Aurelie, Aurélien, Aurore, Axel, Axelle, Baptiste, Bastien, Benjamin, Benoit, Bertille, Bertrand, Betka, Bilkher, Camille, Capucine, Carole, Caroline, Catherine, Cedric, Celine, Charles, Charlotte, Christèle, Christine, Christophe, Claire, Claire-Anne, Clement, Cyril, Damien, David, Déborah, Delphine, Denis, Dominique, Dorian, Dorine, Edgar, Eliott, Elisabeth, Elise, Elizabeth, Elsa, Émilie, Emmanuel, Enguerrand, Eric, Étienne, Evan, Fabien, Fabrice, Fanny, Florent, Florian, François, Fred, Frederic, Gaël, Gaëtan, Ghislain, Gilbert, Gilles, Godefroy, Gregoire, Grégory, Guillaume, Hanh, Helena, Hervé, Isabelle, Isaure, Jacky, Jean, Jean-Daniel, Jean-François, Jean-Pierre, Jeremie, Jérémie, Jérémy, Jérôme, Jessy, Joeffrey, Johan, Jordan, Jules, Julie, Julien, Juliette, Justine, Kaelig, Karim, Kevin, Laetitia, Lamia, Laure, Laureline, Laurent, Lauriane, Loïc, Louise, Lucille, Maela, Maeva, Manoël, Manon, Manuel, Marc, Marc-Antoine, Marie, Marie-Capucine, Marie-Françoise, Marielle, Marine, Martin, Maryline, Mathias, Mathieu, Matthieu, Maud, Maxime, Meline, Michael, Mickael, Mirna, Misagh, Moïse, Morgan, Morgane, Nathalie, Nathaniel, Nicolas, Noah, Nolwenn, Oceane, Olivier, Omar, Ombeline, Othmane, Oualid, Pascal, Pascale, Patrice, Patrick, Paul, Paulin, Philippe, Phillipe, Philppe, Pierre, Pierre-Emmanuel, Raphaël, Regis, Renaud, Reynald, Richard, Robin, Romain, Ronan, Samuel, Sandrine, Sébastien, Séraphie, Serge, Servane, Simon, Stacy, Stéphane, Thaïs, Thelma, Théo, Thibaut, Thomas, Timothée, Tristan, Ulric, Valentin, Valérie, Victor, Vincent, Violaine, Xavier, Yan, Yannig, Yassine, Yoann, Yseult, Yves… Et tous ceux qu’on a involontairement oublié.
                </p>
                <p class="kiss-good-bye">Bisous 😘</p>
            </div>
        </div>
    </div>
{% endblock content %}
