{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{# Meta #}
{% block title %}Finis, les sites mononuls &bull; Stéréosuper{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='home'>
        <header class='container block-title' id='blockTitle'>
            <h1><span class='first-line'>Finis,</span> les sites mononuls</h1>
            <div class='text-home'>
                <p>Nous adorons vous aider à atteindre vos objectifs grâce à une communication créative sur Internet.</p>
                <a href='#' class='link-arrow link-caps'>
                    <span>En savoir plus</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </header>

        <div class='container skills-home' id='skillsHome'>
            <ul class='skills'>
                <li class='skill'>
                    <svg width='95' height='2'>
                        <rect fill='url(#dash)' width='100' height='2'/>
                    </svg>
                    Stratégie d'image
                </li><li class='skill'>
                    Identité visuelle
                </li><li class='skill'>
                    Design
                </li><li class='skill'>
                    <svg width='91' height='8'>
                        <rect fill='url(#twist)' width='100' height='8'/>
                    </svg>
                    Animation
                </li><li class='skill'>
                    <svg width='95' height='4'>
                        <rect fill='url(#dot)' width='100' height='4'/>
                    </svg>
                    Développement
                </li>
            </ul>
        </div>

        <section class='container portfolio-list'>
            <ul class='portfolio-items'>
                <li class='portfolio-item alven-item'>
                    <a href='alven.html'>
                        <h2>AlvenCapital</h2>
                        <div>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Alven Capital</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item akeneo-item'>
                    <a href='#'>
                        <h2>Akeneo</h2>
                        <div>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Akeneo</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item captain-item'>
                    <a href='#'>
                        <h2>CaptainTrain</h2>
                        <div>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Captain Train</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item aa-item'>
                    <a href='#'>
                        <h2>L'Architecture d'Aujourd'hui</h2>
                        <div>
                            <time datetime='2015'>2015</time>
                            <span class='title'>L'Architecture d'Aujourd'hui</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item avignon-item'>
                    <a href='#'>
                        <h2>Institut d'Avignon</h2>
                        <div>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Institut d'Avignon</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item wisembly-item'>
                    <a href='#'>
                        <h2>Wisembly</h2>
                        <div>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Wisembly</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item chauffeur-item'>
                    <a href='#'>
                        <h2>Chauffeur Privé</h2>
                        <div>
                            <time datetime='2015'>2012-2015</time>
                            <span class='title'>Chauffeur Privé</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item fioulreduc-item'>
                    <a href='#'>
                        <h2>Fioulreduc</h2>
                        <div>
                            <time datetime='2014'>2012-2014</time>
                            <span class='title'>Fioulreduc</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item iadvize-item'>
                    <a href='#'>
                        <h2>iAdvize</h2>
                        <div>
                            <time datetime='2013'>2013</time>
                            <span class='title'>iAdvize</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item kiubi-item'>
                    <a href='#'>
                        <h2>Kiubi</h2>
                        <div>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Kiubi</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item drivy-item'>
                    <a href='#'>
                        <h2>Drivy</h2>
                        <div>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Drivy</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
            </ul>
            <div class='offset top'></div>
            <div class='offset bottom'></div>
        </section>
    </div>
{% endblock content %}
