{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{# Meta #}
{% block title %}Finis, les sites mononuls &bull; Stéréosuper &bull; Agence de communication web{% endblock %}
{% block description %}Stéréosuper c’est une agence de communication web passionnée et très engagée! Nous adorons rendre nos clients meilleurs sur Internet.{% endblock %}
{% block og_img %}img/stereosuper-website.jpg{% endblock %}

{# Multilingue #}
{% set url_en = 'https://stereosuper.fr/home.html' %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='home' data-namespace='home' data-lang='{{ url_en }}'>
        <div class='wrapper-video-home' id='video'></div>

        <header class='container block-title' id='blockTitle'>
            <h1><span class='first-line'>Finis<span class='comma'>,</span></span> les sites mononuls</h1>
            <div class='text-home'>
                <p>Nous adorons vous aider à atteindre vos objectifs grâce à une communication créative sur Internet.</p>
                <a href='a-propos.html' class='link-arrow link-caps' title='A propos de nous'>
                    <span>En savoir plus</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </header>

        <div class='container skills-home' id='skillsHome'>
            <ul class='skills' data-skill-selected=''>
                <li class='skill' data-skill='strategy'>
                    <div class='symbol'>
                        <div class='list-symbols dashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Stratégie d'image
                </li><li class='skill' data-skill='identity'>
                    <div class='symbol'>
                        <div class='wrapper-waves hoverAnimation'>
                            <svg class='icon waves'><use xlink:href='#icon-waves'/></svg>
                        </div>
                    </div>
                    Identité visuelle
                </li><li class='skill' data-skill='design'>
                    <div class='symbol'>
                        <div class='wrapper-zigzags hoverAnimation'>
                            <svg class='icon zigzags'><use xlink:href='#icon-zigzags'/></svg>
                        </div>
                    </div>
                    Design
                </li><li class='skill' data-skill='animation'>
                    <div class='symbol'>
                        <div class='list-symbols slashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Animation
                </li><li class='skill' data-skill='dev'>
                    <div class='symbol'>
                        <div class='list-symbols dots hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Développement
                </li>
            </ul>
        </div>

        <section class='container portfolio-list' id='portfolio'>
            <ul class='portfolio-items'>
                <li class='portfolio-item ector-item' data-skill='strategy,design,animation' data-opacity='0.7' id='ector'>
                    <a href='ector.html' title='Stéréosuper a travaillé pour Ector'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Ector
                                    <svg class='icon'><use xlink:href='#icon-ector'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Ector</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item heyteam-item' data-skill='dev' data-opacity='0.8' id='heyteam'>
                    <a href='heyteam.html' title='Stéréosuper a travaillé pour Heyteam'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    HeyTeam
                                    <svg class='icon'><use xlink:href='#icon-heyteam'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>HeyTeam</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item beezup-item' data-skill='design,animation,dev' data-opacity='0.8' id='beezup'>
                    <a href='beezup.html' title='Stéréosuper a travaillé pour Beezup'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Beezup
                                    <svg class='icon'><use xlink:href='#icon-beezup'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Beezup</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item akeneo-item' data-skill='design,animation,dev' data-opacity='0.8' id='akeneo'>
                    <a href='akeneo.html' title='Stéréosuper a travaillé pour Akeneo'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Akeneo
                                    <svg class='icon'><use xlink:href='#icon-akeneo'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Akeneo</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item thinkovery-item' data-skill='strategy,identity,design,animation,dev' data-opacity='0.8' id='thinkovery'>
                    <a href='thinkovery.html' title='Stéréosuper a travaillé pour Thinkovery'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Thinkovery
                                    <svg class='icon'><use xlink:href='#icon-thinkovery'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Thinkovery</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item leon-item' data-skill='design,animation,dev' data-opacity='0.8' id='leon'>
                    <a href='leon-grosse.html' title='Stéréosuper a travaillé pour Léon Grosse'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Léon Grosse
                                    <svg class='icon'><use xlink:href='#icon-leon-grosse'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Léon Grosse</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item alven-item' data-skill='design,animation,dev' data-opacity='0.8' id='alven'>
                    <a href='alvencapital.html' title='Stéréosuper a travaillé pour Alven Capital'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    AlvenCapital
                                    <svg class='icon'><use xlink:href='#icon-alven'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Alven Capital</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item captain-item' data-skill='strategy,identity' data-opacity='0.7' id='captain'>
                    <a href='captain-train.html' title='Stéréosuper a travaillé pour Captain Train'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Captain Train
                                    <svg class='icon'><use xlink:href='#icon-captaintrain'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Captain Train</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item lbb-item' data-skill='identity,design,animation,dev' data-opacity='0.7' id='lbb'>
                    <a href='la-belle-boite.html' title='Stéréosuper a travaillé pour La Belle Boîte'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    La Belle Boîte
                                    <svg class='icon'><use xlink:href='#icon-lbb'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>la Belle Boîte</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item heycaptain-item' data-skill='identity,design' data-opacity='0.8' id='heycaptain'>
                    <a href='hey-captain.html' title='Stéréosuper a travaillé pour Hey Captain'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Hey Captain
                                    <svg class='icon'><use xlink:href='#icon-heycaptain'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Hey Captain</span>
                        </div>
                    </a>
                </li> 
                <li class='portfolio-item aa-item' data-skill='design,dev' data-opacity='0.9' id='aa'>
                    <a href='architecture-aujourdhui.html' title="Stéréosuper a travaillé pour l'Architecture d'Aujourd'hui">
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    L'Architecture d'Aujourd'hui
                                    <svg class='icon'><use xlink:href='#icon-aa'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>L'Architecture d'Aujourd'hui</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item avignon-item' data-skill='design,animation,dev' data-opacity='0.8' id='avignon'>
                    <a href='institut-avignon.html' title="Stéréosuper a travaillé pour Institut d'Avignon">
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Institut d'Avignon
                                    <svg class='icon'><use xlink:href='#icon-avignon'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Institut d'Avignon</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item fioulreduc-item' data-skill='identity,design,animation,dev' data-opacity='0.7' id='fioulreduc'>
                    <a href='fioulreduc.html' title='Stéréosuper a travaillé pour Fioulreduc'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Fioulreduc
                                    <svg class='icon'><use xlink:href='#icon-fioulreduc'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2014'>2012-2016</time>
                            <span class='title'>Fioulreduc</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item chauffeur-item' data-skill='strategy,identity,design,animation,dev' data-opacity='0.9' id='chauffeur'>
                    <a href='chauffeur-prive.html' title='Stéréosuper a travaillé pour Chauffeur Privé'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Chauffeur Privé
                                    <svg class='icon'><use xlink:href='#icon-chauffeurprive'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2012-2015</time>
                            <span class='title'>Chauffeur Privé</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <!--<li class='portfolio-item proximis-item' data-skill='identity,design,dev' data-opacity='1' id='proximis'>
                    <a href='proximis.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Proximis
                                    <svg class='icon'><use xlink:href='#icon-proximis'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2014'>2014</time>
                            <span class='title'>Proximis</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>-->
                <li class='portfolio-item iadvize-item' data-skill='design,dev' data-opacity='0.7' id='iadvize'>
                    <a href='iadvize.html' title='Stéréosuper a travaillé pour iAdvize'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    iAdvize
                                    <svg class='icon'><use xlink:href='#icon-iadvize'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2013'>2013</time>
                            <span class='title'>iAdvize</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <!--<li class='portfolio-item kiubi-item' data-skill='strategy,identity,design,animation,dev' data-opacity='0.8' id='kiubi'>
                    <a href='kiubi.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Kiubi
                                    <svg class='icon'><use xlink:href='#icon-kiubi'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Kiubi</span>
                        </div>
                    </a>
                </li>-->
                <li class='portfolio-item drivy-item' data-skill='design,animation' data-opacity='0.9' id='drivy'>
                    <a href='drivy.html' title='Stéréosuper a travaillé pour Drivy'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Drivy
                                    <svg class='icon'><use xlink:href='#icon-drivy'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Drivy</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
            </ul>
            {# <div class='offset top'></div>
            <div class='offset bottom'></div> #}
        </section>
    </div>
{% endblock content %}
