{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{% block content %}
	<div class='container'>
    	<h1>Finis, les sites mononuls</h1>
    	<p>Nous adorons vous aider à atteindre vos objectifs grâce à une communication créative sur Internet.</p>
        <a href='#' class='link-arrow link-caps'>
            En savoir plus
            <svg class='icon'><use xlink:href='#icon-big-arrow'/></svg>
        </a>

        <ul class='skills'>
            <li class='skill'>
                <svg width='95' height='2'>
                    <rect fill='url(#dash)' width='100' height='2'/>
                </svg>
                Stratégie d'image
            </li><li class='skill'>
                Identité visuelle
            </li><li class='skill'>
                Design
            </li><li class='skill'>
                <svg width='91' height='8'>
                    <rect fill='url(#twist)' width='100' height='8'/>
                </svg>
                Animation
            </li><li class='skill'>
                <svg width='95' height='4'>
                    <rect fill='url(#dot)' width='100' height='4'/>
                </svg>
                Développement
            </li>
        </ul>
    </div>
{% endblock content %}
