{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{# Meta #}
{% block title %}Finis, les sites mononuls &bull; Stéréosuper{% endblock %}
{% block description %}Stéréosuper, idées hi-fi, design super. Création de sites internet, animations, design d'interfaces à Nantes.{% endblock %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='home' data-namespace='home'>
        <div class='wrapper-video-home' id='video'>
            {# <video preload='auto' poster='img/stereosuper.jpg' loop muted data-object-fit='cover'>
                <source src='video/video-home.mp4' type='video/mp4' />
            </video> #}
            <iframe id='videoIframe' src='https://player.vimeo.com/video/189647536?background=1&autoplay=1&loop=1&byline=0&title=0&badge=0' width='640' height='360' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <header class='container block-title' id='blockTitle'>
            <h1><span class='first-line'>Finis,</span> les sites mononuls</h1>
            <div class='text-home'>
                <p>Nous adorons vous aider à atteindre vos objectifs grâce à une communication créative sur Internet.</p>
                <a href='about.html' class='link-arrow link-caps'>
                    <span>En savoir plus</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </header>

        <div class='container skills-home' id='skillsHome'>
            <ul class='skills'>
                <li class='skill' data-skill='strategy'>
                    <div class='symbol'>
                        <div class='list-symbols dashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Stratégie d'image
                </li><li class='skill' data-skill='identity'>
                    <div class='symbol'>
                        <div class='wrapper-waves hoverAnimation'>
                            <svg class='icon waves'><use xlink:href='#icon-waves'/></svg>
                        </div>
                    </div>
                    Identité visuelle
                </li><li class='skill' data-skill='design'>
                    <div class='symbol'>
                        <div class='wrapper-zigzags hoverAnimation'>
                            <svg class='icon zigzags'><use xlink:href='#icon-zigzags'/></svg>
                        </div>
                    </div>
                    Design
                </li><li class='skill' data-skill='animation'>
                    <div class='symbol'>
                        <div class='list-symbols slashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Animation
                </li><li class='skill' data-skill='dev'>
                    <div class='symbol'>
                        <div class='list-symbols dots hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Développement
                </li>
            </ul>
        </div>

        <section class='container portfolio-list' id='portfolio'>
            <ul class='portfolio-items'>
                <li class='portfolio-item leon-item' data-skill='design,animation,dev'>
                    <a href='leon-grosse.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'><svg class='icon'><use xlink:href='#icon-leon-grosse'/></svg></span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Léon Grosse</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item myforum-item' data-skill='identity,design,animation,dev'>
                    <a href='myforum.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>myForum</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>my Forum</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item alven-item' data-skill='design,animation,dev'>
                    <a href='alvencapital.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>AlvenCapital</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Alven Capital</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item lbb-item' data-skill='identity,design,animation,dev'>
                    <a href='la-belle-boite.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>La Belle Boîte</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>la Belle Boîte</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item akeneo-item' data-skill='design,animation,dev'>
                    <a href='akeneo.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Akeneo</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Akeneo</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item captain-item' data-skill='strategy,identity'>
                    <a href='captain-train.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Captain Train</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Captain Train</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item aa-item' data-skill='design,dev'>
                    <a href='architecture-aujourdhui.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>L'Architecture d'Aujourd'hui</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>L'Architecture d'Aujourd'hui</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item avignon-item' data-skill='design,animation,dev'>
                    <a href='institut-avignon.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Institut d'Avignon</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Institut d'Avignon</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item wisembly-item' data-skill='design,dev'>
                    <a href='wisembly.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Wisembly</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Wisembly</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item fioulreduc-item' data-skill='identity,design,animation,dev'>
                    <a href='fioulreduc.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Fioulreduc</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2014'>2012-2016</time>
                            <span class='title'>Fioulreduc</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item chauffeur-item' data-skill='strategy,identity,design,animation,dev'>
                    <a href='chauffeur-prive.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Chauffeur Privé</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2015'>2012-2015</time>
                            <span class='title'>Chauffeur Privé</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item proximis-item' data-skill='identity,design,dev'>
                    <a href='proximis.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Proximis</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2014'>2014</time>
                            <span class='title'>Proximis</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item iadvize-item' data-skill='design,dev'>
                    <a href='iadvize.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>iAdvize</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2013'>2013</time>
                            <span class='title'>iAdvize</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item kiubi-item' data-skill='strategy,identity,design,animation,dev'>
                    <a href='kiubi.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Kiubi</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Kiubi</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item drivy-item' data-skill='design,animation'>
                    <a href='drivy.html'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>Drivy</span>
                                <span class='bg'></span>
                                <span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span>
                            <span class='border-middle'></span>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Drivy</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
            </ul>
            {# <div class='offset top'></div>
            <div class='offset bottom'></div> #}
        </section>
    </div>
{% endblock content %}
{% block javascript_bottom %}
    <script src='js/libs/objectFitPolyfill.js' defer></script>
    <script src='https://player.vimeo.com/api/player.js'></script>
    {{parent()}}
{% endblock javascript_bottom %}
