{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{% block content %}
	<div class='container'>
    	<h1>Finis, les sites mononuls</h1>
    	<p>Nous adorons vous aider à atteindre vos objectifs grâce à une communication créative sur Internet.</p>
    </div>
{% endblock content %}
