{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}avignon{% endblock %}

{# Meta #}
{% block title %}Institut d'Avignon &bull; Portfolio de Stéréosuper &bull; Agence web des plus grands{% endblock %}
{% block description %}En 2015, Stéréosuper a refondu le site Internet de l'Institut d'Avignon, un cursus d’été en littérature, histoire et théâtre dépendant d'une université américaine.{% endblock %}
{% set og_url = 'institut-avignon.html' %}

{# Multilingue #}
{% set url_en = 'institut-avignon-en.html' %}

{# Content #}
{% block portfolio_title %}L'Institut d'Avignon{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>L'Institut d'Avignon est un cursus d’été en littérature française, histoire et théâtre. Il s'adresse avant tout aux américains, puisqu'il dépend du Bryn Mawr College, en Pennsylvanie.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2015, nous avons refondu leur site Internet</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered avignon' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.institutdavignon.fr/{% endblock %}

{% set prev_ref_link = 'architecture-aujourdhui.html' %}
{% set prev_ref_name = "L'Architecture d'Aujourd'hui" %}
{% set next_ref_link = 'wisembly.html' %}
{% set next_ref_name = 'Wisembly' %}
