{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}lbb{% endblock %}

{# Meta #}
{% block title %}La Belle Boîte &bull; Portfolio de Stéréosuper &bull; Agence web qui pèse{% endblock %}
{% block description %}En 2016, Stéréosuper a réalisé le site Internet et le logo de la Belle Boîte, spécialiste de l'improvisation en entreprise.{% endblock %}
{% set og_url = 'la-belle-boite.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/home.html' %}

{# Content #}
{% block portfolio_title %}La Belle Boîte{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Les joyeux trublions de la Belle Boîte conçoivent et animent des ateliers, formations et spectacles en entreprise.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2014, nous avons crée leur identité visuelle.&nbsp;<br />En 2016, nous avons réalisé leur site Internet.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.labelleboite.fr/{% endblock %}

{% set prev_ref_link = 'captain-train.html' %}
{% set prev_ref_name = 'Captain Train' %}
{% set next_ref_link = 'chauffeur-prive.html' %}
{% set next_ref_name = 'Chauffeur-Privé' %}
