{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}leon{% endblock %}

{# Meta #}
{% block portfolio_title %}Leon Grosse{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p></p>
{% endblock %}

{% block portfolio_role %}
    <p></p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.leongrosse.fr/{% endblock %}

{% set prev_ref_link = '' %}
{% set prev_ref_name = '' %}
{% set next_ref_link = 'myforum.html' %}
{% set next_ref_name = 'myForum' %}
