{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}leon{% endblock %}

{# Meta #}
{% block title %}Léon Grosse &bull; Portfolio de Stéréosuper &bull; Agence web sans peurs{% endblock %}
{% block description %}En 2016, Stéréosuper a refondu le site Internet de Léon Grosse, cinquième entreprise française de bâtiment et travaux publics (BTP).{% endblock %}
{% set og_url = 'leon-grosse.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/leon-grosse-en.html' %}

{# Content #}
{% block portfolio_title %}Léon Grosse{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Léon Grosse est une entreprise de BTP.&nbsp;<br />Avec un chiffre d’affaires de 720 M€ en 2014 et près de 2 300 collaborateurs, Léon Grosse est la cinquième entreprise française de construction et de gros œuvre.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2016, nous avons refondu leur site Internet. Nous travaillons actuellement sur l'expérience utilisateur et le design de leur Intranet.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.leongrosse.fr/{% endblock %}

{% set prev_ref_link = 'thinkovery.html' %}
{% set prev_ref_name = 'Thinkovery' %}
{% set next_ref_link = 'alvencapital.html' %}
{% set next_ref_name = 'Alven Capital' %}
