{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='bw legal'{% endblock %}

{# Meta #}
{% block title %}Mentions légales &bull; Stéréosuper &bull; Agence web super chouette{% endblock %}
{% block description %}Vous avez bien évidemment une forte envie de lire toutes les informations juridiques liées au site de Stéréosuper. Et vous avez bien raison.{% endblock %}
{% set og_url = 'mentions.html' %}
{% block og_img %}img/stereosuper-legal.jpg{% endblock %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/mentions-en.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='bw' data-namespace='mentions' data-class='bw legal' data-lang='{{ url_en }}'>
        <div class='container'>
            <div class='container-small'>
                <div class='title'>
                    <h1>Mentions légales</h1>
                    <p class='subtitle'>
                        <a href='https://twitter.com/hashtag/yolo' target='_blank' title='#Yolo sur Twitter'>#Yolo</a> <a href='https://twitter.com/hashtag/PasLeTempsDeNiaiser' target='_blank' title='#PasLeTempsDeNiaiser sur Twitter'>#PasLeTempsDeNiaiser</a> <a href='https://twitter.com/hashtag/Swaaaaaaagg' target='_blank' title='#Swaaaaaaagg sur Twitter'>#Swaaaaaaagg</a> <a href='https://twitter.com/hashtag/EddyMalou' target='_blank' title='#EddyMalou sur Twitter'>#EddyMalou</a> <a href='https://twitter.com/hashtag/ZiziToutDur' target='_blank' title='#ZiziToutDur sur Twitter'>#ZiziToutDur</a>
                    </p>
                </div>

                <p>Le site de Stéréosuper a été déclaré auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) conformément à l'article 15 de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>

                <p>Le site Stéréosuper est déclaré à la CNIL (n°1995066).</p>

                <p>L'utilisateur déclare avoir pris connaissance des informations ci-dessous avant la visite du site. En choisissant d'accéder au site, l'utilisateur accepte expressément et irrévocablement, les termes ci-après.</p>
            </div>
        </div>
        <div class='content-white'>
            <div class='container'>
                <div class='container-small'>
                    <h2>Responsabilités</h2>
                    <p>Stéréosuper décline toute responsabilité quant au contenu des sites proposés en liens. </p>

                    <h2>Informations légales</h2>
                    <p>Société : <strong>Stéréosuper</strong><br>
                    Identification TVA : <b>FR 76 520090903</b><br>
                    Siège social : <b>1bis Rue Baron 44100 Nantes</b><br>
                    Contact : <strong><a href='mailto:contact@stereosuper.fr' title='Envoyer un e-mail'>contact@stereosuper.fr</a></strong></p>

                    <p>Conception et production : <strong>l’incroyable équipe Stéréosuper</strong><br>
                    Directeur de la publication : <strong class='stupid-gif' data-gif='napoleon'>Jean-François Perrault</strong><br>
                    Webmaster : <strong class='stupid-gif' data-gif='office'>Boris Forconi</strong><br>
                    Swag : <strong class='stupid-gif' data-gif='swag'>Adrien le Menthéour</strong><br>
                    Dab : <strong class='stupid-gif' data-gif='dab'>Guillaume Caillet</strong><br>
                    Touche bretonne : <strong class='stupid-gif' data-gif='crepe'>Vincent Aribart</strong><br>
                    Métal : <strong class='stupid-gif' data-gif='metal'>Elisabeth Hamel</strong><br>
                    </p>
                    <p>Traduction et écriture : <strong>Nicolas Grégoire</strong></p>

                    <p>Hébergement : <b><a href='https://www.gandi.net' target='_blank'>GANDI</a></b></p>

                    <h2>Informatique et libertés</h2>
                    <p>Conformément à la loi française du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée par la loi relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel du 6 août 2004, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent, en vous adressant à Stéréosuper soit par courrier, soit par e-mail.</p>

                    <p><strong>Stéréosuper</strong><br>
                    <b>92 quai de la Fosse</b><br>
                    <b>44100 NANTES</b><br>
                    <b><a href='mailto:bisou@stereosuper.fr' title='Envoyer un e-mail'>bisou@stereosuper.fr</a></b></p>

                    <h2>Droits d’auteur</h2>
                    <p>Les photographies, textes, slogans, dessins, images, vidéos, séquences animées sonores ou non sont la propriété de Stéréosuper ou de tiers.</p>

                    <p>Les logos, icônes et puces graphiques représentés sur le site sont protégés au titre des droits d'auteur et des articles L.511.1 et suivants du Code de la Propriété Intellectuelle relatifs à la protection des modèles déposés.</p>

                    <p>Les reproductions, sur un support papier ou informatique, dudit site et des œuvres qui y sont reproduites sont autorisées sous réserve qu'elles soient strictement réservées à un usage personnel excluant tout usage à des fins publicitaires et/ou commerciales, et/ou d'information et/ou qu'elles soient conformes aux dispositions de l'article L.122-5 du Code de la Propriété Intellectuelle.</p>

                    <p>A l'exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie des différentes œuvres qui le composent, sans avoir obtenu l'autorisation préalable de Stéréosuper est strictement interdite et constitue un délit de contrefaçon et peut donner suite à des poursuites judiciaires civiles et/ou pénales et au paiement de dommages et intérêts.</p>

                    <h2>Déontologie</h2>
                    <p>Aucun gant, mitaine ou moufle n’a subi de maltraitance au cours de la réalisation de ce site web.</p>
                </div>
            </div>
        </div>
        <div id='stupidGif'>
            <img src='img/office.gif' alt='' id='office'>
            <img src='img/swag.gif' alt='' id='swag'>
            <img src='img/dab.gif' alt='' id='dab'>
            <img src='img/metal.gif' alt='' id='metal'>
            <img src='img/napoleon.gif' alt='' id='napoleon'>
            <img src='img/crepe.gif' alt='' id='crepe'>
        </div>
    </div>
{% endblock content %}
