{% extends 'layout/layout.html.twig' %}

{% block body_attr %}{% endblock %}

{# Meta #}
{% block title %}Mentions légales &bull; Stéréosuper{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container'>
        <div class='container'>
            <div class='small-container'>
                <h1>Mentions légales</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, ex vel cursus eleifend, nisi metus placerat magna, non pulvinar turpis augue non enim. Nulla ultrices nulla eu dolor vestibulum aliquet. Nullam nisi lacus, sodales pulvinar sollicitudin in, dictum a lorem. In fringilla non odio nec interdum. Suspendisse a pretium eros, ut dignissim quam. Nam commodo ante eu magna consectetur, id sagittis odio ornare. Maecenas sollicitudin nibh leo, et pellentesque nisi dapibus vel. Donec ac pellentesque ligula, sit amet consectetur tortor. Donec vel pulvinar augue. Integer vel mollis diam. Mauris ac erat sodales velit placerat egestas at aliquet turpis. Suspendisse potenti.</p>

                <h2>Un second titre</h2>
                Curabitur feugiat tortor vel dolor volutpat, vel suscipit velit varius. Quisque dapibus augue ac est blandit, euismod consectetur justo feugiat. Nunc ex elit, dignissim non maximus pretium, blandit eu velit. Nunc eu lacus pellentesque felis congue lacinia sed sit amet arcu. Integer non enim pellentesque, porttitor odio in, dictum magna. Etiam vulputate arcu in elit lobortis interdum. Suspendisse ac erat commodo orci sollicitudin hendrerit. Nunc pellentesque iaculis lacinia. Integer erat tortor, pretium nec lorem quis, tristique aliquam lectus. Nunc sit amet neque vel lorem tincidunt mattis vitae in libero. Donec accumsan orci nec ante condimentum laoreet. Nam rhoncus elit sit amet leo malesuada, vitae dapibus ex varius. Phasellus commodo nisi libero. Morbi et aliquam purus. Integer rutrum metus neque, sit amet ultricies arcu auctor in.

                <h2>Un autre second titre</h2>
                <h3>Un titre de niveau trois ce coup-ci</h3>
                <ul>
                    <li>Donec vestibulum lacinia aliquam. Duis vitae fermentum diam, et dignissim libero.</li>
                    <li>Nulla rutrum velit vel semper gravida.</li>
                </ul>

                <p>Donec dapibus id mauris eget commodo. Sed quis pharetra nibh. Vestibulum feugiat mi sit amet dictum fringilla. Nunc sit amet egestas enim. Pellentesque vel congue nunc, in egestas est. Nulla ut viverra mauris. Praesent dapibus varius nisl sed lobortis. Integer a facilisis erat. Integer sollicitudin ipsum id urna tincidunt, non interdum nulla consequat. Vestibulum nec risus diam. Pellentesque vehicula mattis lectus, at mollis erat rhoncus id.</p>
            </div>
        </div>
    </div>
{% endblock content %}
