{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}myforum{% endblock %}

{# Meta #}
{% block portfolio_title %}myForum{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Initialement connu pour sa galaxie de sites Internet d'annonces de fonds de commerces, myForum regroupe de nombreux services pour accompagner les entrepreneurs dans leur spécialité. Plus de 20 000 transactions ont été réalisées sur les divers sites depuis leur création en 2002.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2016, nous les avons accompagné dans la refonte de l'ensemble des sites Internet et de leur image.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered myForum' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.my-forum.fr/{% endblock %}

{% set prev_ref_link = 'leon-grosse.html' %}
{% set prev_ref_name = 'Leon Grosse' %}
{% set next_ref_link = 'alvencapital.html' %}
{% set next_ref_name = 'Alven Capital' %}
