{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}proximis{% endblock %}

{# Meta #}
{% block title %}Proximis &bull; Portfolio de Stéréosuper &bull; Agence web où on a des ballons sauteurs{% endblock %}
{% block description %}En 2019, Stéréosuper a refondu le site Internet et l'image de Proximis, la start-up du commerce unifié.{% endblock %}
{% set og_url = 'beezup.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/proximis-en.html' %}

{# Content #}
{% block portfolio_title %}Proximis{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Proximis est une plateforme qui permet aux consommateurs de vivre une expérience de commerce unifié. En 2017, levée de fond de 5 millions d'€.&nbsp;<br></p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2019, nous avons refondu pour la seconde fois leur site Internet et retravaillé leur identité visuelle.</p>
{% endblock %}


{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.proximis.com{% endblock %}

{% set prev_ref_link = 'aircall.html' %}
{% set prev_ref_name = 'Aircall' %}
{% set next_ref_link = 'thinkovery.html' %}
{% set next_ref_name = 'Thinkovery' %}
