{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='job bw'{% endblock %}

{# Meta #}
{% block title %}Wanted : assistant.e chef de projet &bull; Stéréosuper &bull; Agence web qui recrute{% endblock %}
{% block description %}Nous recherchons pour nous aider dans la gestion de nos projets un.e super stagiaire. Si tu as entendu parler de Lean ou d’Agilité et que ça te botte, c’est tout bon. {% endblock %}
{% block og_img %}img/shareCdp.png{% endblock %}
{% set og_url = 'wanted-cdp.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/about.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='job bw' data-namespace='job' data-lang='{{ url_en }}'>
        <div class='container-relative'>
            <div class='container container-title'>
                <div class='title'>
                    <h1>Wanted&nbsp;: <br>stagiaire assistant.e chef.fe de projet</h1>
                </div>

                <header class='content-about'>
                    <p>Nous recherchons pour nous aider dans <strong>la gestion de nos projets un.e super stagiaire.</strong></p>
                    <p>Attention, si tu connais notre clientèle, tu sais que ce stage risque de t'amener à rencontrer plein de start-uppeurs nantais et parisiens en baskets.</p>
                </header>
            </div>

            <div class='content-white container-txt-about'>
                <div class='container'>
                    <section class='content-about'>
                        <p>As-tu entendu parler <strong><a target="_blank" href="https://fr.wikipedia.org/wiki/Lean_(production)">de Lean</a>, <a href="https://fr.wikipedia.org/wiki/Scrum_(d%C3%A9veloppement)" target="_blank">de Scrum</a> ou <a href="https://fr.wikipedia.org/wiki/Management_agile" target="_blank">d’Agilité</a>&nbsp;?</strong> Ça te botte&nbsp;? Chez Stéréosuper, la quasi totalité des projets, qu’il s’agisse de <strong>création ou de développement</strong>, se déroulent et se facturent en sprints.</p>
                        <h2>C’est qu’on commence à en avoir, des boards Trello&nbsp;!</h2>
                        <p>Et c'est là qu'on a besoin de toi&nbsp;:<br />&nbsp;</p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                Écrire des <strong>roadmaps</strong> sur mesure. Avec le nombre et le contenu des sprints adaptés aux particularités des projets de chacun. Et donc nous aider à estimer le temps et les coûts.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                Participer avec les créatifs aux <strong>ateliers client.</strong> Proposer des idées, des croquis… Rebondir sur les pistes amenées par les uns ou les autres. Et en faire une synthèse.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                <strong>Coordonner</strong> les sprints avec les équipes concernés et nos clients. Distribuer les cartes. Ajuster le roadmap.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                <strong>Causer avec tout le monde.</strong> Avoir le smile.
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <div class='intro-imgs'>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-1' src='img/annoncedev/pola9.jpg' srcset='img/annoncedev/pola9.jpg 1x, img/annoncedev/pola9@2x.jpg 2x' alt='Tout le monde se cultive chez Stéréosuper'>
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-2' src='img/annoncedev/pola2.jpg' srcset='img/annoncedev/pola2.jpg 1x, img/annoncedev/pola2@2x.jpg 2x' alt="Tout le monde s'entraide chez Stéréosuper">
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-3' src='img/annoncedev/pola3.jpg' srcset='img/annoncedev/pola3.jpg 1x, img/annoncedev/pola3@2x.jpg 2x' alt="Tout le monde prend le petit dej chez Stéréosuper">
                            </div>
                        </div>
                        <p>Alors oui, c’est sur Trello. Il n’est pas nécessaire que tu connaisses déjà pour faire bien le travail. C’est surtout une <strong>méthodo Stéréosuper, qu’on se fera un plaisir de te transmettre. Et de faire évoluer avec toi.</strong></p>
                        <p><strong>Bonus skills :</strong></p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                Communication Non Violente
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <p><strong>Méga bonus skills :</strong></p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                Baby-foot, CurveFever
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                Tolérance importante pour la musique pourrie le vendredi
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <div class='team'>
                            <div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-1' src='img/annoncedev/pola4.jpg' srcset='img/annoncedev/pola4.jpg 1x, img/annoncedev/pola4@2x.jpg 2x' alt='Elisabeth nous présente la machine à café'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-2' src='img/annoncedev/pola5.jpg' srcset='img/annoncedev/pola5.jpg 1x, img/annoncedev/pola5@2x.jpg 2x' alt="Clément fait semblant d'être nul en code, LOL">     
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-3' src='img/annoncedev/pola6.jpg' srcset='img/annoncedev/pola6.jpg 1x, img/annoncedev/pola6@2x.jpg 2x' alt="C'est toujours Boris qui arrose les plantes">
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-4' src='img/annoncedev/pola7.jpg' srcset='img/annoncedev/pola7.jpg 1x, img/annoncedev/pola7@2x.jpg 2x' alt="Adrien branche une prise iPhone dans du 230V, quel pitre">
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-5' src='img/annoncedev/pola8.jpg' srcset='img/annoncedev/pola8.jpg 1x, img/annoncedev/pola8@2x.jpg 2x' alt="Pour une fois que Clément fait la vaisselle, on en profite">
                            </div>
                        </div>
                    </section>

                    <section class='content-about big-margin-top'>
                        <p class='subtitle-about'>Chez Stéréosuper, on cherche avant tout</p>
                        <h2>des gens créatifs</h2>
                        <p class='subtitle-about'>qui aiment les jolis sites. Et les gifs sur Slack.</p>
                        <p>On aime les contraintes imposées par les autres (clients exigeants, barjots du SEO, cinglés de la créa, cintrés au dév. back, etc.)<br>
                        <strong>Tous ensemble, on sera encore plus innovants&nbsp;!</strong></p>
                        <ul class='list-margin'>
                            <li class='wrapperAnimateOnScroll'>
                                On ne se prend pas trop au sérieux, même si on aime les sites très bien finis.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                On aime pas trop les outils de gestion de temps, même si on bosse en sprints.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                On aime être tous ensemble, même si on bosse en remote quand on veut. Et que les horaires sont libres.
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        
                        <div class='intro-imgs end-imgs'>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-1' src='img/annoncedev/pola1.jpg' srcset='img/annoncedev/pola1.jpg 1x, img/annoncedev/pola1@2x.jpg 2x' alt='Tout le monde prend le petit dej chez Stéréosuper'>
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-2' src='img/annoncedev/pola11.jpg' srcset='img/annoncedev/pola11.jpg 1x, img/annoncedev/pola11@2x.jpg 2x' alt="Tout le monde fait la fête chez Stéréosuper">
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-3' src='img/annoncedev/pola10.jpg' srcset='img/annoncedev/pola10.jpg 1x, img/annoncedev/pola10@2x.jpg 2x' alt="Tout le monde s'entraide chez Stéréosuper">
                            </div>
                        </div>
                    </section>

                    <section class='content-about'>
                        <p>
                            On adorerait découvrir ton univers et tes passions.<br>
                            Et grandir avec toi.
                        </p>
                    </section>
                </div>
            </div>

            <div class='container container-timeline'>
                <div id='timeline'>
                    <div id='content-timeline'>
                        <div id='tl'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='content-white job-footer'>
            <div class='container'>
                <h2 class='title-about'>Et si on travaillait ensemble, en stéréo&nbsp;?</span></h2>
                <a href='mailto:frontend@stereosuper.fr' class='link-arrow' title='Nous envoyer un email'>
                    <span>Contactons-nous</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
