{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='job bw'{% endblock %}

{# Meta #}
{% block title %}Wanted : dev front-end &bull; Stéréosuper &bull; Agence web qui recrute{% endblock %}
{% block description %}Cette page raconte la merveilleuse histoire de Stéréosuper. Il n'y a pas autant de péripéties que dans un James Bond, mais c'est prenant quand même.{% endblock %}
{% block og_img %}img/stereosuper-team.jpg{% endblock %}
{% set og_url = 'wanted.html' %}

{# Multilingue #}
{% set url_en = 'http://stereosuper.fr/about.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='job bw' data-namespace='job' data-lang='{{ url_en }}'>
        <div class='container-relative'>
            <div class='container container-title'>
                <div class='title'>
                    <h1>Wanted&nbsp;: <br>dev front&#8209;end</h1>
                </div>

                <header class='content-about'>
                    <p>Elisabeth, notre Wonder Woman du code, part se promener quelques mois autour du monde.</p>
                    <p>Il va falloir la remplacer ! <strong>Nous proposons donc un CDD à partir du début 2018 jusqu’à Novembre. Et plus si affinités.</strong></p>
                    <p>Ah, et on ne manque pas de travail :<br/>
                    <strong>si tu cherches un stage ou une alternance, on prend aussi.</strong></p>
                </header>
            </div>

            <div class='content-white container-txt-about'>
                <div class='container'>
                    <section class='content-about'>
                        <div class='intro-imgs'>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-1' src='img/annoncedev/pola9.jpg' srcset='img/img/annoncedev/pola9.jpg 1x, img/annoncedev/pola9@2x.jpg 2x' alt='Tout le monde se cultive chez Stéréosuper'>
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-2' src='img/annoncedev/pola2.jpg' srcset='img/img/annoncedev/pola2.jpg 1x, img/annoncedev/pola2@2x.jpg 2x' alt="Tout le monde s'entraide chez Stéréosuper">
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-3' src='img/annoncedev/pola3.jpg' srcset='img/img/annoncedev/pola3.jpg 1x, img/annoncedev/pola3@2x.jpg 2x' alt="Tout le monde prend le petit dej chez Stéréosuper">
                            </div>
                        </div>
                        <h2>Madame la candidate, <br/>Monsieur le candidat,</h2>
                        <p>Au minimum, on aimerait que tu démerdes plutôt bien en :</p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                <strong>HTML, CSS, SASS</strong>
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                <strong>JavaScript et jQuery</strong>
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                <strong>Effets d'animation d'interface</strong>
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <p>On sera encore plus copains si tu touches aussi en :</p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                GSAP
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                NPM, Gulp, ...
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <p>Dans nos rêves les plus fous, tu as aussi des skills en :</p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                PHP et WordPress
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <p>Méga bonus :</p>
                        <ul>
                            <li class='wrapperAnimateOnScroll'>
                                REACT, Vue.js
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                Baby-foot, CurveFever
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                Tolérance importante pour la musique pourrie le vendredi
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <p>Tu veux en savoir plus sur notre stack ? Il est dispo sur GitHub. <br>On l’a appelé <a href='https://github.com/stereosuper/generator-stereobase' target='_blank' title='Stéréobase'>Stéréobase</a>. C’est basé sur <a href='http://yeoman.io/' target='_blank' title='Yeoman'>Yeoman</a>.
                        <br>On aimerait bien le faire évoluer avec toi.</p>
                    </section>

                    <section class='content-about big-margin-top'>
                        <p class='subtitle-about'>Chez Stéréosuper, on cherche avant tout</p>
                        <h2>des gens créatifs</h2>
                        <p class='subtitle-about'>qui aiment les jolis sites. Et les gifs sur Slack.</p>
                        <p>On aime les contraintes imposées par les autres (clients exigeants, barjots du SEO, cinglés de la créa, cintrés au dév. back, etc.)<br>
                        <strong>Tous ensemble, on sera encore plus innovants&nbsp;!</strong></p>
                        <ul class='list-margin'>
                            <li class='wrapperAnimateOnScroll'>
                                On ne se prend pas trop au sérieux, même si on aime les sites très bien finis.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                On n’est pas à cheval sur les horaires, même si on compte les heures sup’.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                On aime pas trop les outils de gestion de temps, même si on bosse en sprints.
                                <div class='puce animateOnScroll'></div>
                            </li>
                            <li class='wrapperAnimateOnScroll'>
                                On aime être tous ensemble, même si on bosse en remote quand on veut.
                                <div class='puce animateOnScroll'></div>
                            </li>
                        </ul>
                        <div class='team'>
                            <div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-1' src='img/annoncedev/pola4.jpg' srcset='img/img/annoncedev/pola4.jpg 1x, img/annoncedev/pola4@2x.jpg 4x' alt='Elisabeth nous présente la machine à café'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-2' src='img/annoncedev/pola5.jpg' srcset='img/img/annoncedev/pola5.jpg 1x, img/annoncedev/pola5@2x.jpg 2x' alt="Clément fait semblant d'être nul en code, LOL">     
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-3' src='img/annoncedev/pola6.jpg' srcset='img/img/annoncedev/pola6.jpg 1x, img/annoncedev/pola6@2x.jpg 2x' alt="C'est toujours Boris qui arrose les plantes">
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-4' src='img/annoncedev/pola7.jpg' srcset='img/img/annoncedev/pola7.jpg 1x, img/annoncedev/pola7@2x.jpg 2x' alt="Adrien branche une prise iPhone dans du 230V, quel pitre">
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-5' src='img/annoncedev/pola8.jpg' srcset='img/img/annoncedev/pola8.jpg 1x, img/annoncedev/pola8@2x.jpg 2x' alt="Pour une fois que Clément fait la vaisselle, on en profite">
                            </div>
                        </div>
                    </section>

                    <section class='content-about'>
                        <p>
                            On adorerait découvrir ton univers, tes travaux, tes passions.<br>
                            Et grandir avec toi.
                        </p>
                    </section>
                </div>
            </div>

            <div class='container container-timeline'>
                <div id='timeline'>
                    <div id='content-timeline'>
                        <div id='tl'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='content-white job-footer'>
            <div class='container'>
                <h2 class='title-about'>Et si on travaillait ensemble, en stéréo&nbsp;?</span></h2>
                <a href='contact.html' class='link-arrow' title='Nos informations de contact'>
                    <span>Contactons-nous</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
