{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}wisembly{% endblock %}

{# Meta #}
{% block portfolio_title %}Wisembly{% endblock %}
{% block description %}{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Mauris tempor turpis eget erat dapibus commodo. Pellentesque mollis eleifend elit at interdum. Aliquam et sem sit amet ipsum gravida egestas non in libero. Donec rhoncus nulla sit amet arcu condimentum molestie. Praesent id magna sapien. Nunc pellentesque nisl et urna fermentum, ac mollis felis auctor.</p>
{% endblock %}

{% block portfolio_role %}
    <p></p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://wisembly.com/{% endblock %}
