{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}wisembly{% endblock %}

{# Meta #}
{% block title %}Wisembly &bull; Portfolio de Stéréosuper &bull; Agence web efficace{% endblock %}
{% block description %}En 2015, Stéréosuper a refondu le site Internet de Wisembly, une start-up qui rend les réunions plus interactives et dynamiques.{% endblock %}
{% set og_url = 'wisembly.html' %}

{# Multilingue #}
{% set url_en = 'https://www.stereosuper.fr/wisembly-en.html' %}

{# Content #}
{% block portfolio_title %}Wisembly{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Wisembly est un outil permettant de rendre plus interactives et dynamique les prises de paroles en groupe&nbsp;: conférences, séminaires, réunions, etc.&nbsp;<br>La start-up, fondée en 2010, a levé 1,4 millions d'Euros en 2014.</p>
{% endblock %}

{% block portfolio_role %}
    <p>En 2015, nous avons refondu leur site Internet.</p>
{% endblock %}


{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://wisembly.com/{% endblock %}

{% set prev_ref_link = 'institut-avignon.html' %}
{% set prev_ref_name = "Institut d'Avignon" %}
{% set next_ref_link = 'fioulreduc.html' %}
{% set next_ref_name = 'FioulReduc' %}
