.e404{
    min-height: calc(100vh - 170px);
    h1{
        margin-bottom: 0;
        line-height: 1;
        + p{
            margin: 10px 0;
        }
    }
    #barba-wrapper{
        padding-bottom: 300px;
        position: relative;
        overflow: hidden;
    }
    #footer{
        background: #000;
    }
}

.text-404{
    display: inline-block;
    max-width: 40%;
    padding: 0 0 0 $gutter;
    position: relative;
    z-index: 1;
}

.logo-404{
    width: 55%;
    height: 730px;
    max-width: 940px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 200px 0 0;
    > div{
        display: inline-block;
        width: 50%;
        height: 750px;
        position: relative;
        // background-size: 135%;
        // background-repeat: no-repeat;
        // background-position: 50% 100%;
        background: none !important;
        overflow: hidden;
        img{
            display: none;
            width: 135%;
            max-width: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            -webkit-touch-callout: none;
            -webkit-user-select:none;
        }
    }
    .js &{
        opacity: 0;
        transition: opacity $transition;
        &.on{
            opacity: 1;
        }
    }
}

#counter{
    position: fixed;
    bottom: 0;
    background: #111118;
    left: 0;
    right: 0;
    padding: 20px $gutter*2;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    transform: translate3d(0, 100%, 0);
    transition: $transition;
    &.on{
        transform: translate3d(0, 0, 0);
    }
    i{
        display: inline-block;
        font-size: 1.4rem;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        margin: 0 0 0 $gutter;
    }
}

#stereo{
    .no-js &{
        // background-image: url(../layoutImg/stereo-3.jpg);
        > img:nth-child(1){
            display: block;
        }
    }
    // background-image: url(../layoutImg/super.png);
}
#super{
    .no-js &{
        //     background-image: url(../layoutImg/super-11.jpg);
        > img:nth-child(1){
            display: block;
        }
    }
}

@for $i from 1 through 15{
    #stereo{
        &.logo-#{$i}{
            // background-image: url(../layoutImg/stereo-#{$i}.jpg);
            // background-position: 50% #{$i*-((957*135)/100)*1px};
            // background-position: 50% #{$i*(100/14.085)*1%};
            > img:nth-child(#{$i}){
                display: block;
            }
        }
    }
    #super{
        &.logo-#{$i}{
            // background-image: url(../layoutImg/super-#{$i}.jpg);
            > img:nth-child(#{$i}){
                display: block;
            }
        }
    }
}

@media (max-width: 1600px){
    .e404{
        #barba-wrapper{
            padding-bottom: 200px;
        }
    }
}

@media (max-width: 1300px){
    .e404{
        #barba-wrapper{
            padding-bottom: 100px;
        }
    }
}

@media (max-width: 960px){
    .e404{
        min-height: 0;
        #barba-wrapper{
            padding-bottom: 0;
        }
    }

    .text-404{
        max-width: 100%;
    }

    .logo-404{
        width: 100%;
        max-width: 800px;
        height: auto;
        position: static;
        margin: 50px auto 0;
        > div{
            height: 0;
            padding: 0 0 70%;
        }
    }
}

@media (max-width: 870px){
    .text-404{
        padding: 0;
    }

    #counter{
        padding: 20px $gutter;
    }
}
