/* About specific style */

.about{
    .title{
        padding-left: 30px;
    }
    h2{
        line-height: 1;
        &:before{
            display: none;
        }
    }
    .subtitle{
        left: 58vw;
    }
    #barba-wrapper{
        padding-bottom: 0;
    }
    #footer{
        background: none;
    }
}

.content-white{
    background: #fff;
    color: #000;
}

.content-about{
    // width: 62.5%;
    padding: 40px $gutter 0;
    position: relative;
    margin: 50px 12.5% 0 25%;
    z-index: 1;
    a{
        color: $blue;
    }
    .link-arrow{
        margin: 3px 0 0;
        span{
            text-decoration: underline;
        }
    }
    h2{
        margin: 0 0 0 -0.07em;
        font-size: 4rem;
        letter-spacing: -0.03em;
    }
}

.text-img{
    //margin-top: 7em;
    margin-right: -30%;
    img{
        margin: -50px 0 0 18%;
    }
}

.title-about{
    padding: 20px $gutter 0;
    margin: 0;
    font-size: 10rem;
    text-indent: 25.5%;
    letter-spacing: -0.08em;
    span{
        display: block;
        text-indent: 0;
    }
    + a{
        display: inline-block;
        padding: 0 $gutter;
        margin: 0 0 3em;
        @include gotham-bold(10rem);
        letter-spacing: -0.08em;
        text-decoration: none;
    }
}

.subtitle-about{
    margin: 0;
    color: $blue;
}

.container-year{
    position: absolute;
    top: -170px;
    bottom: 0;
    left: 0;
    right: 0;
}
.year{
    width: 125px;
    height: 125px;
    border: 1px solid rgba(#000, 0.2);
    @include gotham-medium(1em);
    text-transform: uppercase;
    text-align: center;
    line-height: 125px;
    border-radius: 50%;
}
.year-wrapper{
    width: 23.8%;
    position: absolute;
    top: 0;
    bottom: -50px;
    overflow: hidden;
    &:after{
        content: '';
        border-right: 1px solid rgba($blue, 0.5);
        position: absolute;
        top: 0;
        bottom: 63px;
        right: 0;
    }
    .year{
        position: fixed;
        //left: 0;
        color: #000;
        transition: opacity $transition;
        &:first-child{
            color: #fff;
            border-color: rgba(#fff, 0.3);
        }
        &:last-child{
            color: $blue;
        }
        &:after{
            content: '';
            width: 150%;
            height: 1px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 100%;
            background: rgba($blue, 0.5);
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: $transition;
        }
        &.fixed{
            position: absolute;
            &:after{
                transform: scaleX(1);
            }
        }
        &.fixed, &.fixed + div{
            opacity: 1 !important;
        }
    }
}

.intro-img{
    margin: 10px 0 150px -45%;
    img{
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        &:nth-of-type(2){
            margin-top: 70px;
        }
        &:nth-of-type(3){
            margin-top: 95px;
        }
    }
}
.img-cp{
    position: absolute;
    top: -125px;
    left: -320px;
}
.team{
    margin: 40px -45% 100px;
    img{
        margin: 0 10px;
        &:nth-child(2){
            margin-top: 70px;
        }
        &:nth-child(3){
            margin-top: 40px;
        }
    }
}

.last-p{
    margin-bottom: 0;
}

.hide-footer{
    margin: 0 0 300px;
}
.footer-about{
    padding: 10px 0 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: #000;
    .content-about{
        position: static;
    }
    .container{
        position: relative;
    }
    .year{
        border: 1px dashed $blue;
        position: absolute;
        top: 25px;
        left: $gutter;
        font-size: 1.4rem;
        color: $blue;
    }
}
