/* Contact specific style */

.contact{
    #barba-wrapper{
        background: #fff;
    }
    h1{
        max-width: 700px;
    }
    .title{
        padding-left: 30px;
    }
    .content{
        width: 75%;
        padding: 0 0 0 $gutter;
        color: #000;
        a{
            text-decoration: none;
        }
    }
    .col{
        display: inline-block;
        width: 33.333%;
        vertical-align: top;
        margin: 0;
    }
}

.contact-container{
    position: relative;
    z-index: 1;
}

#map{
    height: 80vh;
    min-height: 500px;
    max-height: 620px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
