/* Contact specific style */

.contact{
    #header{
        background: none;
        &.bgVisible{
            background: #000;
        }
    }
    #barba-wrapper{
        padding-bottom: 50px;
        background: #fff;
    }
    .content{
        padding: 30px 0 0;
        font-size: 1.6rem;
        color: #000;
        background: #fff;
        pointer-events: auto;
        a{
            text-decoration: none;
        }
        li{
            &:before{
                display: none;
            }
        }
    }
    .grid{
        width: 80%;
        padding: 0;
    }
    .col{
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin: 0;
        &:nth-child(3) {
            width: 40%;
        }
    }
}

.contact-container{
    position: relative;
    z-index: 1;
    pointer-events: none;
}

#map{
    height: 80vh;
    min-height: 550px;
    //max-height: 700px;
    max-height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
}
.mapboxgl-canvas-container{
    opacity: 0;
    transition: opacity 1s ease-in;
    &.on{
        opacity: 1;
    }
}
.mapboxgl-control-container{
    display: none;
}
.marker{
    width: 30px;
    height: 35px;
    background: url(../layoutImg/marker.svg) no-repeat 50% 50%;
    // opacity: 0;
    //transition: opacity $transition;
    // &.on{
    //     opacity: 0.7;
    // }
    opacity: 0.7;
}
.hand{
    width: 999px;
    height: 1181px;
    position: absolute;
    left: 584px;
    top: -436px;
    //right: 0;
    //margin: auto;
    background: url(../layoutImg/hand.png) no-repeat;
    background-size: 100%;
    transform-origin: 100% 100%;
    opacity: 0;
    transition: opacity $transition;
    &.on{
        opacity: 1;
    }
    .is-mobile &{
        display: none;
    }
}


@media (max-width: 1500px){
    .contact{
        .grid{
            width: 100%;
            padding-right: 0;
        }
    }

    #map{
        height: 72vh;
        min-height: 620px;
    }
}

@media (max-width: 1200px){
    #map{
        min-height: 520px;
        max-height: 600px;
    }
}

@media (max-width: 960px){
    .contact{
        .col{
            width: 50%;
            &:first-child{
                position: absolute;
                bottom: 0;
            }
        }
    }

    .contact-container{
        padding: 0 0 100px;
    }

    #map{
        height: 52vh;
        min-height: 450px;
        max-height: 550px;
    }
}

@media (max-width: 870px){
    .contact{
        .grid{
            padding: 0;
        }
    }
}

@media (max-width: 700px){
    .contact{
        .col{
            width: 100%;
            &:nth-child(2){
                margin: 0 0 20px;
            }
            &:nth-child(3){
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px){
    .mapboxgl-canvas-container{
        display: none;
    }
}

@media (max-height: 670px){
    .contact{
        .title{
            margin: 0 0 2em;
        }
    }

    #map{
        height: 75vh;
        min-height: 500px;
    }
}
