/* Home specific style */

.block-title{
    position: absolute;
    transform: translate3d(0, -42%, 0);
    top: 50%;
    left: 0;
    right: 0;
}

h1{
    .first-line{
        display: block;
        line-height: 1.2;
    }
}

.text-home{
    width: 35%;
    padding: 3em $gutter 0;
    position: absolute;
    top: 0;
    left: 50%;
    p{
        line-height: 1.4;
    }
}


.skills-home{
    position: absolute;
    left: 0;
    right: 0;
    top: 97.5vh;
    .skills{
        padding: 0 $gutter 100px;
        width: 75%;
        margin: 0 0 0 25%;
    }
}

.offset{
    position: fixed;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    &.top{
        top: 0;
        border-bottom: 1px dashed #555;
    }
    &.bottom{
        bottom: 0;
        border-top: 1px dashed #555;
    }
}


@media (max-height: 650px){
    .skills-home{
        position: static;
        .skills{
            padding-top: 80px;
        }
    }
}

@media (max-width: 1200px){
    .block-title{
        transform: translate3d(0, -50%, 0);
    }

    .text-home{
        width: 100%;
        padding: 50px 0 0;
        position: static;
    }

    @media (max-height: 800px){
        .skills-home{
            position: static;
            .skills{
                padding-top: 100px;
            }
        }
    }
}

@media (max-height: 870px){
    .block-title{
        position: relative;
        transform: none;
        top: 0;
    }
}
