/* Portfolio single page specific style */

.portfolio{
    h1{
        max-width: none;
        padding: 0;
        margin: 0 0 0.6em -15px;
        font-size: 5rem;
        color: #fff;
        text-indent: -99em;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #barba-wrapper{
        padding-bottom: 0;
    }
    .link-arrow, .lang a{
        color: #fff;
    }
    #logo{
        .icon{
            &.stereo{
                fill: #fff;
            }
        }
    }
}
@for $i from 1 through $portfolioNb{
    $name: nth($portfolio, $i);
    .#{$name}-portfolio{
        background: nth($portfolioColors, $i);
        h1{
            width: #{nth($portfolioWidths, $i)}px;
            height: #{nth($portfolioHeights, $i)}px;
            background-image: url(../img/logo-#{$name}.png);
        }
        .btn{
            background: nth($portfolioColors, $i);
        }
    }
}

.portfolio-cover{
    width: 50%;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 1;
}

.portfolio-text{
    width: 50%;
    padding: 30px 0 85px;
    margin: 0 0 0 50%;
    p{
        padding: 0 $gutter;
    }
    .btn-close{
        position: absolute;
        top: -25px;
        right: $gutter;
    }
}

.portfolio-role{
    background: #fff;
    color: #000;
    &-content{
        width: 50%;
        padding: 60px 0 200px $gutter;
        margin: 0 0 0 50%;
    }
}
