/* Portfolio single page specific style */

.portfolio{
    h1{
        max-width: none;
        padding: 0;
        margin: 0 0 0.6em $gutter;
        font-size: 5rem;
        color: #fff;
        text-indent: -99em;
        background-repeat: no-repeat;
        background-size: 100%;

        transform: translateY(-15px);
        opacity: 0;
        &.pageTransitionFadeIn{
            transform: translateY(0);
            transition: $transitionOpacityPage, $transitionTransformPage;
            opacity: 1;
        }
    }
    #barba-wrapper{
        padding-bottom: 0;
    }
    .link-arrow, .lang a, .social a{
        color: #fff;
    }
    .social{
        a{
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    #logo{
        .icon{
            fill: #fff;
        }
        strong{
            color: #fff;
        }
        &:hover, &:focus{
            .icon{
                opacity: 0.7;
            }
        }
    }
}
@for $i from 1 through $portfolioNb{
    $name: nth($portfolio, $i);
    .#{$name}-portfolio{
        #header, #barba-wrapper{
            background: nth($portfolioColors, $i);
        }
        h1{
            width: #{nth($portfolioWidths, $i)}px;
            height: #{nth($portfolioHeights, $i)}px;
            background-image: url(../img/logo-#{$name}.png);
        }
        .btn{
            background: nth($portfolioColors, $i);
        }
    }
}

.portfolio-cover{
    width: 980px;
    max-width: 75%;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 1;

    transform: translateY(-15px);
    opacity: 0;
    &.pageTransitionFadeIn{
        transform: translateY(0);
        transition: $transitionOpacityPage, $transitionTransformPage;
        transition-delay: 3s;
        opacity: 1;
    }
}

.portfolio-text{
    width: 50%;
    padding: 30px 0 85px;
    margin: 0 0 0 50%;
    p{
        padding: 0 $gutter;

        transform: translateY(-15px);
        opacity: 0;
        &.pageTransitionFadeIn{
            transform: translateY(0);
            transition: $transitionOpacityPage, $transitionTransformPage;
            transition-delay: 1s;
            opacity: 1;
        }
    }
    .btn-close{
        position: absolute;
        top: -25px;
        right: $gutter;
    }
}

.portfolio-role{
    background: #fff;
    color: #000;
    //transform: translate3d(0, 100%, 0);

    transform: scaleY(0);
    transform-origin: 50% 100%;
    &.pageTransitionFadeIn{
        transform: scaleY(1);
        transition: $transitionTransformPage;
        .portfolio-role-content{
            transform: translateY(0);
            opacity: 1;
            transition: $transitionOpacityPage, $transitionTransformPage;
            transition-delay: 1.5s;
        }
    }
    &-content{
        width: 50%;
        padding: 100px 0 70px $gutter;
        margin: 0 0 0 50%;

        transform: translateY(-15px);
        opacity: 0;
    }
}
