// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(77, 77, 77);
$blue: rgb(0, 155, 227);
$blue-flash: rgb(0, 174, 255);

// Transitions
$transition: 0.3s ease-in-out;
$transitionOpacityPage: opacity 0.3s ease-in-out;
$transitionTransformPage: transform 0.3s ease-in-out;

// Fonts
$elena: 'elena', sans-serif;
$elenaitalic: 'elenaitalic', $elena;
$elenabold: 'elenabold', $elena;
$elenabolditalic: 'elenabolditalic', $elenaitalic;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

// Grid
$gutter: 30px;

// Portfolio
$portfolio:(
    'clustree':(
        color: #50B3C8, logoWidth: 163, logoHeight: 55, bgExt: 'png'
    ),
    'aircall':(
        color: #65b189, logoWidth: 40, logoHeight: 40, bgExt: 'jpg'
    ),
    'proximis':(
        color: #44BAD1, logoWidth: 163, logoHeight: 55, bgExt: 'png'
    ),
    'trustfolio':(
        color: #2c2c2c, logoWidth: 130, logoHeight: 30, bgExt: 'png'
    ),
    'klepierre':(
        color: #141C4A, logoWidth: 50, logoHeight: 50, bgExt: 'png'
    ),
    'stuart':(
        color: #49A2E5, logoWidth: 137, logoHeight: 38, bgExt: 'png'
    ),
    'corwave':(
        color: #1F3F8E, logoWidth: 89, logoHeight: 49, bgExt: 'png'
    ),
    'concord':(
        color: #0059F8, logoWidth: 86, logoHeight: 28, bgExt: 'png'
    ),
    'thinkovery':(
        color: #02bbff, logoWidth: 176, logoHeight: 34, bgExt: 'png'
    ),
    'precogs':(
        color: #00AD91, logoWidth: 128, logoHeight: 54, bgExt: 'jpg'
    ),
    'beneteau':(
        color: #98c1e3, logoWidth: 34, logoHeight: 48, bgExt: 'png'
    ),
    'heycaptain':(
        color: #1e2363, logoWidth: 280, logoHeight: 64, bgExt: 'jpg'
    ),
    'heyteam':(
        color: #ee3139, logoWidth: 75, logoHeight: 40, bgExt: 'jpg'
    ),
    'ector':(
        color: #f7c40c, logoWidth: 105, logoHeight: 48, bgExt: 'jpg'
    ),
    'leon':(
        color: #ce0a2a, logoWidth: 95, logoHeight: 48, bgExt: 'jpg'
    ),
    'myforum':(
        color: #be313f, logoWidth: 157, logoHeight: 56, bgExt: 'jpg'
    ),
    'alven':(
        color: #00b0a9, logoWidth: 199, logoHeight: 31, bgExt: 'png'
    ),
    'beezup':(
        color: #0098e0, logoWidth: 102, logoHeight: 61, bgExt: 'jpg'
    ),
    'lbb':(
        color: #fdc12d, logoWidth: 79, logoHeight: 55, bgExt: 'png'
    ),
    'akeneo':(
        color: #8f21d5, logoWidth: 189, logoHeight: 40, bgExt: 'png'
    ),
    'hibouvision':(
        color: #ffb600, logoWidth: 250, logoHeight: 31, bgExt: 'jpg'
    ),
    'captain':(
        color: #4db04f, logoWidth: 191, logoHeight: 56, bgExt: 'jpg'
    ),
    'aa':(
        color: #004a89, logoWidth: 93, logoHeight: 38, bgExt: 'jpg'
    ),
    'avignon':(
        color: #932712, logoWidth: 299, logoHeight: 48, bgExt: 'jpg'
    ),
    'wisembly':(
        color: #0d5c7b, logoWidth: 202, logoHeight: 46, bgExt: 'jpg'
    ),
    'chauffeur':(
        color: #252930, logoWidth: 255, logoHeight: 34, bgExt: 'jpg'
    ),
    'fioulreduc':(
        color: #de6d0b, logoWidth: 286, logoHeight: 38, bgExt: 'png'
    ),
    // 'proximis':(
    //     color: #0b3349, logoWidth: 155, logoHeight: 36, bgExt: 'jpg'
    // ),
    'iadvize':(
        color: #2bc655, logoWidth: 160, logoHeight: 38, bgExt: 'jpg'
    ),
    // 'kiubi':(
    //     color: #70c53e, logoWidth: 93, logoHeight: 50, bgExt: 'jpg'
    // ),
    'drivy':(
        color: #3c4659, logoWidth: 109, logoHeight: 41, bgExt: 'png'
    ),
);

$portfolioSouvenir:( 'captain', 'chauffeur', 'iadvize', 'drivy' );
