// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(77, 77, 77);
$blue: rgb(0, 155, 227);

// Transitions
$transition: 0.3s ease-in-out;

// Fonts
$elena: 'elena', sans-serif;
$elenaitalic: 'elenaitalic', $elena;
$elenabold: 'elenabold', $elena;
$elenabolditalic: 'elenabolditalic', $elenaitalic;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

// Grid
$gutter: 30px;

// Portfolio
$portfolio: 'alven', 'akeneo', 'captain', 'aa', 'avignon', 'wisembly', 'chauffeur', 'fioulreduc', 'iadvize', 'kiubi', 'drivy';
$portfolioNb: 11;
$portfolioColors: #19a2a5, #8f21d5, #4db04f, #004a89, #932712, #0d5c7b, #252930, #de6d0b, #2bc655, #70c53e, #3c4659;
$portfolioWidths: 199, 199, 199, 199, 199, 199, 199, 199, 199, 199, 199;
$portfolioHeights: 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31;
