// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(77, 77, 77);
$blue: rgb(0, 155, 227);
$blue-flash: rgb(0, 174, 255);

// Transitions
$transition: 0.3s ease-in-out;
$transitionOpacityPage: opacity 0.3s ease-in-out;
$transitionTransformPage: transform 0.3s ease-in-out;

// Fonts
$elena: 'elena', sans-serif;
$elenaitalic: 'elenaitalic', $elena;
$elenabold: 'elenabold', $elena;
$elenabolditalic: 'elenabolditalic', $elenaitalic;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

// Grid
$gutter: 30px;

// Portfolio
$portfolio:(
    'leon':( color: #ce0a2a, logoWidth: 95, logoHeight: 48, bgExt: 'jpg' ),
    'myforum':( color: #be313f, logoWidth: 157, logoHeight: 56, bgExt: 'jpg' ),
    'alven':( color: #19a2a5, logoWidth: 199, logoHeight: 31, bgExt: 'png' ),
    'lbb':( color: #fdc12d, logoWidth: 79, logoHeight: 31, bgExt: 'png' ),
    'akeneo':( color: #8f21d5, logoWidth: 189, logoHeight: 55, bgExt: 'png' ),
    'captain':( color: #4db04f, logoWidth: 191, logoHeight: 40, bgExt: 'jpg' ),
    'aa':( color: #004a89, logoWidth: 93, logoHeight: 56, bgExt: 'jpg' ),
    'avignon':( color: #932712, logoWidth: 299, logoHeight: 38, bgExt: 'jpg' ),
    'wisembly':( color: #0d5c7b, logoWidth: 202, logoHeight: 48, bgExt: 'jpg' ),
    'chauffeur':( color: #252930, logoWidth: 255, logoHeight: 46, bgExt: 'jpg' ),
    'fioulreduc':( color: #de6d0b, logoWidth: 286, logoHeight: 34, bgExt: 'png' ),
    //'proximis':( color: #0b3349, logoWidth: 155, logoHeight: 38, bgExt: 'jpg' ),
    'iadvize':( color: #2bc655, logoWidth: 160, logoHeight: 36, bgExt: 'jpg' ),
    //'kiubi':( color: #70c53e, logoWidth: 93, logoHeight: 50, bgExt: 'jpg' ),
    'drivy':( color: #3c4659, logoWidth: 109, logoHeight: 41, bgExt: 'png' ),
);

$portfolioSouvenir:( 'captain', 'chauffeur', 'iadvize', 'drivy' );
