/* Footer */

#footer{
    position: fixed;
    right: 20px;
    bottom: 10px;
    @include gotham-medium(1rem);
    text-transform: uppercase;
    transform: rotate(-90deg) translate3d(100%, 0, 0);
    transform-origin: 100% 50%;
    opacity: 0.7;
    .portfolio &{
        color: #000;
    }
    a{
        text-decoration: none;
        color: inherit;
        &:hover, &:focus{
            opacity: 0.7;
        }
    }
}
