/* Grid */

#barba-wrapper{
    padding: 160px 0;
    min-height: 100vh;
    overflow: hidden;
    background: #000;
    .portfolio &{
    	position: relative;
    }
    .bw &{
        padding-bottom: 0;
    }
}

.container, .container-small{
    padding: 0 $gutter;
    margin: 0 auto;
}
.container{
    max-width: 1300px;
}
.container-small{
    width: 75%;
    .title{
        padding: 0;
    }
}

@media (max-width: 1060px){
    .container-small{
        width: 100%;
    }
}

@media (max-width: 960px){
    #barba-wrapper{
        min-height: calc(100vh - 156px); // footer height
    }
}

@media (max-width: 870px){
    .container-small{
        padding: 0;
    }
}

@media (max-width: 780px){
    #barba-wrapper{
        padding-bottom: 120px;
    }
}
