/* Grid */

#barba-wrapper{
    padding: 170px 0;
    background: #000;
    min-height: 100vh;
    .portfolio &{
    	position: relative;
    }
    .bw &{
        padding-bottom: 0;
    }
}

.container, .container-small{
    padding: 0 $gutter;
    margin: 0 auto;
}
.container{
    max-width: 1300px;
}
.container-small{
    width: 75%;
}

@media (max-width: 1060px){
    .container-small{
        width: 100%;
    }
}

@media (max-width: 870px){
    .container-small{
        padding: 0;
    }
}
