/* Grid */

#barba-wrapper{
    padding: 170px 0;
    background: #000;
}

.container{
    max-width: 1260px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.small-container{
    width: 75%;
}

@media (max-width: 860px){
    .small-container{
        width: 100%;
    }
}
