/* Header */

#header{
	padding: 22px 0 0;
	border-bottom: 1px solid $grey;
	.container{
		display: flex;
		justify-content: space-between;
	}
}

#logo{
	display: inline-block;
	vertical-align: top;
	@include gotham(1.8rem);
	text-transform: uppercase;
	strong{
		@include gotham-bold(1em);
	}
	.icon{
		width: 25px;
		height: 25px;
	}
	span{
		display: inline-block;
		vertical-align: top;
		padding: 2px 0 0 20px;
	}
}

.menu-contact{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 95px;
	padding: 0;
	>li{
		margin: 2px 0;
	}
}

.menu-header{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 12px 30px 22px 0;
	border-right: 1px solid $grey;
	> li{
		margin: 0 0 10px;
		line-height: 1.1;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		@include gotham-medium(1rem);
		text-transform: uppercase;
	}
}

.lang-social{
	display: inline-block;
	vertical-align: top;
	padding: 12px 0 0 30px;
}

.social{
	margin: 9px 0 0;
	>li{
		display: inline-block;
		vertical-align: top;
		margin: 0 18px 0 0;
		padding: 0;
		&:last-child{
			margin-right: 0;
		}
	}
	.twitter{
		width: 13px;
		height: 11px;
	}
	.facebook{
		width: 6px;
		height: 11px;
	}
}

.tel-number{
	font-family: $elenabold;
}

.lang{
	@include elena-italic(1.5rem);
	.non-active{
		@include gotham-medium(1rem);
		text-transform: uppercase;
	}
	.slash{
		margin: 0 5px;
	}
	a{
		@include elena-italic(1.5rem);
		color: $blue;
	}
}
