.job{
    #barba-wrapper{
        padding-bottom: 0;
    }
    h2{
        line-height: 1;
        &:before{
            display: none;
        }
    }
    .container-title{
        padding-top: 0;
    }
    .title{
        margin: 0;
    }
    .content-about{
        padding: 5px 30px 0;
        margin: 0 25% 50px 25%;
        p + ul:not(.list-margin){
            margin-top: -1.4em;
        }
        li{
            position: relative;
            &:before{
                width: 50px;
                height: 1px;
                position: absolute;
                top: 3px;
                left: -72px;
                background: $blue-flash;
            }
        }
    }
}

.job-footer{
    position: relative;
    margin-top: 0;
    z-index: 1;
}


@media (max-width: 1150px){
    .job{
        .content-about {
            margin-right: 12.5%;
        }
    }
}

@media (max-width: 960px){
    .job{
        #footer{
            position: relative;
            left: 0;
            bottom: 0;
            z-index: 1;
            background: #fff;
        }
    }
}

@media (max-width: 860px){
    .job{
        .content-about {
            padding-right: 0;
        }
    }
}

@media (max-width: 767px){
    .job{
        .content-about {
            margin: 40px 0 0;
        }
    }
}
