/* Portfolio-list */

.portfolio-list{
	padding: 95vh 0 0;
	ul{
		margin: 0;
	}
}

.portfolio-item{
	width: 85%;
	height: 140px;
	position: relative;
	margin: 40px $gutter;
	&:nth-of-type(odd){
		clear: both;
	}
	&:nth-of-type(even){
		float: right;
	}
	a{
		display: block;
	}
	h2{
		width: 90%;
		height: 115px;
		position: relative;
		margin: 0;
		text-indent: -99em;
		overflow: hidden;
		background: $blue;
		top: 15px;
		transform-origin: 50% 50%;
		backface-visibility: hidden;
		&:before, &:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&:after{
			left: $gutter;
			margin: auto;
		}
		&:before{
			left: 0;
			right: 0;
			opacity: 0.1;
			background-position: 50% 60%;
		}
	}
	div{
		width: 305px;
		border-left: 1px solid rgba(#fff, 0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
	}
	time, span{
		display: block;
		height: 50%;
	}
	time{
		font-size: 1.6rem;
		padding: 30px $gutter 25px;
	}
	.title{
		padding: 25px $gutter 30px;
		border-top: 1px solid rgba(#fff, 0.5);
		@include gotham-bold(1.3rem);
		text-transform: uppercase;
	}
}


@for $i from 1 through $portfolioNb{
	$name: nth($portfolio, $i);
    .#{$name}-item{
    	h2{
    		background: nth($portfolioColors, $i);
    		&:before{
    			background-image: url(../img/bg-#{$name}.png);
    		}
    		&:after{
    			width: #{nth($portfolioWidths, $i)}px;
    			height: #{nth($portfolioHeights, $i)}px;
    			background-image: url(../img/logo-#{$name}.png);
    		}
    	}
    }
}



@media (max-height: 870px){
	.portfolio-list{
		padding-top: 200px;
		margin-top: 5vh;
	}
}

@media (max-height: 650px){
	.portfolio-list{
		padding-top: 0;
		margin-top: 0;
	}
}
