/* Portfolio-list */

.portfolio-list{
	padding-top: 97vh;
	backface-visibility: hidden;
	ul{
		margin: 0;
	}
}

.portfolio-item{
	width: 87.5%;
	height: 140px;
	position: relative;
	margin: 40px 0;
	padding: 0 $gutter;
	clear: both;
	transition: opacity $transition;
	&.pageTransition{
	    transition: $transitionOpacityPage;
	    opacity: 0;
	}
	&.off{
		opacity: 0.2;
	}
	&:nth-of-type(even){
		float: right;
		margin-bottom: 80px;
	}
	&:before{
		display: none;
	}
	a{
		display: block;
		position: relative;
		color: #fff;
		&:hover, &:focus{
			.bg{
				/*transform: scale(1.05);
				opacity: 0.3;
				transition: 0.5s transform cubic-bezier(0.165, 0.045, 0.360, 0.995), 0.5s opacity cubic-bezier(0.165, 0.045, 0.360, 0.995);*/
			}
		}
	}
	h2{
		width: 91%;
		height: 115px;
		position: relative;
		margin: 0;
		top: 15px;
		transform-origin: 50% 50%;
		backface-visibility: hidden;
		outline: 1px solid transparent;
		&.pageTransition{
			&:before{
				//transition: $transitionOpacityPage, $transitionTransformPage;
				transition: transform 0.2s ease-in, opacity 0.3s ease-in;
				opacity: 0;
				transform: translate3d(0, 15px, 0);
			}
		}
		&:before{
			content: '';
			max-width: 75%;
			position: absolute;
			bottom: 0;
			top: 50%;
			left: $gutter;
			margin: -28px 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50% 50%;
		}
	}
	.logo{
		text-indent: -99em;
		overflow: hidden;
	}
	.bg{
		display: block;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.bg-img{
		display: block;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.2;
		background-position: 50% 60%;
		background-repeat: no-repeat;
		background-size: 100%;
		//transform: scale(1.05);
		transition: 1s transform cubic-bezier(0.165, 0.045, 0.360, 0.995), 1s opacity cubic-bezier(0.165, 0.045, 0.360, 0.995);
		transform-origin: 50% 50%;
		&.pageTransition{
		    transition: $transitionOpacityPage;
		    opacity: 0;
		}
	}
	div{
		width: 28.6%;
		height: 140px;
		position: absolute;
		top: 0;
		right: 0;
		&:before{
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-left: 1px solid rgba(#fff, 0.5);
		}
		&.pageTransition{
			&:before, time, span{
			    transition: $transitionOpacityPage;
			    opacity: 0;
			}
		}
	}
	time, span{
		display: block;
		height: 50%;
	}
	time{
		font-size: 1.6rem;
		padding: 30px $gutter 25px;
		border-bottom: 1px solid rgba(#fff, 0.5);
	}
	.title{
		display: inline-block;
		vertical-align: top;
		padding: 25px 0 30px $gutter;
		@include gotham-bold(1.3rem);
		text-transform: uppercase;
	}
	.souvenir{
		display: inline-block;
		vertical-align: top;
		width: 74px;
		height: 26px;
		margin: 18px 0 0 10px;
	}
}


@for $i from 1 through $portfolioNb{
	$name: nth($portfolio, $i);
    .#{$name}-item{
    	h2{
    		&:before{
    			width: #{nth($portfolioWidths, $i)}px;
    			height: #{nth($portfolioHeights, $i)}px;
    			background-image: url(../img/logo-#{$name}.png);
    		}
    		.bg{
    			background: nth($portfolioColors, $i);
    		}
    		.bg-img{
    			background-image: url(../img/bg-#{$name}.png);
    		}
    	}
    }
    @if $name == 'lbb'{
    	.#{$name}-item{
    		h2{
    			.bg-img{
    				opacity: 0.6;
    			}
    		}
    		a{
    			&:hover, &:focus{
    				.bg-img{
    					opacity: 1;
    				}
    			}
    		}
    	}
    }
}


@media (max-height: 1060px){
	.portfolio-item{
		div{
			width: 35.6%;
		}
	}
}

@media (max-width: 870px){
	.portfolio-item{
		padding: 0;
		div{
			width: 40%;
		}
	}
}

@media (max-width: 780px){
	.portfolio-item{
		// width: 95.5%;
		h2{
			// width: 96%;
			height: 120px;
			&:after{
				bottom: 10px;
				left: 40px;
			}
		}
		div{
			width: calc(100% - 30px);
			right: auto;
			left: $gutter;
			top: 40px;
			&:after{
				content: '';
				height: 1px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background: rgba(#fff, 0.5);
			}
		}
		.title{
			max-width: 70%;
			height: auto;
			padding: 0;
			position: absolute;
			left: 10px;
			top: 110px;
		}
		time{
			height: auto;
			border: 0;
			position: absolute;
			top: 110px;
			right: 9.5%;
			padding: 0;
		}
		.souvenir{
			display: none;
		}
	}
}

@media (max-width: 480px){
	.portfolio-item{
		width: calc(100% - 30px);
		h2{
			width: 100%;
		}
		div{
			width: 98%;
		}
		.bg{
			display: none;
		}
		time{
			right: 7%;
		}
	}
}


@media (max-height: 870px){
	.portfolio-list{
		padding-top: 200px;
		margin-top: 5vh;
	}
}

@media (max-height: 650px){
	.portfolio-list{
		padding-top: 0;
		margin-top: 0;
	}
}
