/* Portfolio-list */

@mixin fixAnimation{
	backface-visibility: hidden;
	will-change: transform;
}

.portfolio-list{
	padding-top: 90vh;
	position: relative;
	z-index: 1;
	//overflow: hidden;
	backface-visibility: hidden;
	ul{
		padding: 0 0 20px;
		margin: 0;
	}
}

.portfolio-item{
	width: 87.5%;
	height: 140px;
	padding: 0 $gutter;
	position: relative;
	margin: 40px 0;
	clear: both;
	// transition: opacity $transition;
	&:nth-child(10n+1){
		.wrapper-bloc{
			transform: rotate(0);
		}
	}
	&:nth-child(10n+2){
		.wrapper-bloc{
			transform: rotate(-0.8deg);
		}
	}
	&:nth-child(10n+3){
		.wrapper-bloc{
			transform: rotate(1deg);
		}
	}
	&:nth-child(10n+4){
		.wrapper-bloc{
			transform: rotate(1.1deg);
		}
	}
	&:nth-child(10n+5){
		.wrapper-bloc{
			transform: rotate(-1.6deg);
		}
	}
	&:nth-child(10n+6){
		.wrapper-bloc{
			transform: rotate(0.8deg);
		}
	}
	&:nth-child(10n+7){
		.wrapper-bloc{
			transform: rotate(-0.8deg);
		}
	}
	&:nth-child(10n+8){
		.wrapper-bloc{
			transform: rotate(-1.6deg);
		}
	}
	&:nth-child(10n+9){
		.wrapper-bloc{
			transform: rotate(2.7deg);
		}
	}
	&:nth-child(10n+10){
		.wrapper-bloc{
			transform: rotate(-2.5deg);
		}
	}
	&.off{
		// opacity: 0.5;
		/*.wrapper-bg-img{
			opacity: 0;
		}*/
		a{
			cursor: default;
			&:hover{
				//cursor: default;
			}
		}
	}
	&:nth-of-type(even){
		float: right;
		margin-bottom: 80px;
	}
	&:before{
		display: none;
	}
	a{
		display: block;
		position: relative;
		color: #fff;
		.no-js &{
			&:hover, &:focus{
				.bg-img{
					opacity: 0.5;
				}
			}
		}
	}
	.wrapper-bloc{
		width: 91%;
		height: 115px;
		position: relative;
		margin: 0;
		top: 15px;
		transform-origin: 50% 50%;
		transition: transform $transition;
		outline: 1px solid transparent;
		backface-visibility: hidden;
	}
	h2{
		height: 100%;
		position: relative;
		margin: 0;
		transform-origin: 50% 50%;
		backface-visibility: hidden;
		&:before{
			display: none;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-style: solid;
			border-width: 2px;
			opacity: 0;
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);
			will-change: transform;
			outline: 1px solid transparent;
		}
	}
	.logo{
		max-width: 75%;
		position: absolute;
		bottom: 0;
		top: 50%;
		left: $gutter;
		transform: translate3d(0, -50%, 1px);
		margin: 0;
		z-index: 3;
		// background-repeat: no-repeat;
		// background-size: 100%;
		// background-position: 50% 50%;
		text-indent: -99em;
		// background: none !important;
		overflow: hidden;
	}
	.icon{
		width: 100%;
		height: 100%;
		fill: #fff;
		float: left;
	}
	.bg, .wrapper-bg-img, .bg-img, .bg-transition{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.bg, .wrapper-bg-img, .bg-img{
		@include fixAnimation;
	}
	.bg{
		z-index: 2;
		mix-blend-mode: multiply;
		outline: 1px solid transparent;
		&.transi{
			mix-blend-mode: normal;
		}
	}
	.wrapper-bg-img{
		overflow: hidden;
		.no-mix-blend-mode &{
			z-index: 2;
		}
	}
	.bg-img{
		opacity: 0.15;
		background-position: 50% 60%;
		background-repeat: no-repeat;
		background-size: 100%;
		transform: scale(1.05) rotate(0.01deg) translate3d(0, 0, 0.01px);
		transform-origin: 50% 50%;
		.no-js &{
			transition: $transition;
		}
	}
	.bg-transition{
		//transform: scaleX(0) scaleY(1) rotate(0.01deg) translate3d(0, 0, 0.01px);
		transform-origin: 50% 50%;
		z-index: -1;
	}
	.wrapper-desc{
		width: 28.6%;
		height: 140px;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate3d(0, 0, 1px);
	}
	.border-left{
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-left: 1px solid rgba(#fff, 0.5);
		transform-origin: 50% 50%;
	}
	.border-middle{
		width: 100%;
		height: 0;
		position: absolute;
		top: 50%;
		left: 1px;
		border-bottom: 1px solid rgba(#fff, 0.5);
		transform-origin: 0 50%;
	}
	time, .title{
		height: 50%;
	}
	time{
		display: block;
		font-size: 1.6rem;
		padding: 30px $gutter 25px;
	}
	.title{
		display: inline-block;
		vertical-align: top;
		padding: 25px 0 30px $gutter;
		@include gotham-bold(1.3rem);
		text-transform: uppercase;
	}
	.souvenir{
		display: inline-block;
		vertical-align: top;
		width: 74px;
		height: 26px;
		margin: 18px 0 0 10px;
	}
}

@each $name, $map in $portfolio{
  	$color: map-get($map, color);
  	$logoWidth: map-get($map, logoWidth);
  	$logoHeight: map-get($map, logoHeight);
  	$bgExt: map-get($map, bgExt);

  	.#{$name}-item{
  	    h2{
  		    &:after{
  		        border-color: $color;
  		    }
  	    }
  	    &.off{
  	    	h2{
  	    		&:after{
  	    			opacity: 1;
  	    		}
  	    	}
  	    	.icon{
  	    		fill: $color;
  	    	}
  	    	.wrapper-desc{
  	    		color: $color;
  	    	}
  	    	.border-left, .border-middle{
  	    		border-color: $color;
  	    	}
  	    }
  	    .logo{
  	    	width: #{$logoWidth}px;
  	    	height: #{$logoHeight}px;
  	    	// background-image: url(../img/logo-#{$name}.png);
  	    }
  	    .bg, .bg-transition{
  	    	background: $color;
  	    }
  	    .bg-img{
  	    	background-image: url(../img/bg-#{$name}.#{$bgExt});
  	    }
  	}
  	@if $name == 'lbb'{
  	   	.#{$name}-item{
  	    	.bg{
  	    		mix-blend-mode: normal;
  	    	}
  	    	.wrapper-bg-img{
  				z-index: 2;
  	    	}
  	    	.bg-img{
  	    		opacity: 0.6;
  	    	}
  	    	a{
  	    		&:hover, &:focus{
  	    			.bg-img{
  	    				opacity: 1;
  	    			}
  	    		}
  	    	}
  	    }
  	}
}


@media (max-height: 1060px){
	.portfolio-item{
		div{
			width: 35.6%;
		}
	}
}


@media (max-width: 1050px){
	.portfolio-item{
		.souvenir{
			display: none;
		}
	}
}

@media (max-width: 870px){
	.portfolio-item{
		padding: 0;
		div{
			width: 40%;
		}
	}
}

@media (max-width: 780px){
	.portfolio-item{
		.wrapper-bloc{
			height: 120px;
			width: 100%;
			left: 0;
			transform: rotate(0) !important;
		}
		.logo{
			bottom: 10px;
			left: 40px;
		}
		.wrapper-desc{
			width: calc(100% - 30px);
			right: auto;
			left: $gutter;
			top: 40px;
		}
		.title{
			max-width: 65%;
			height: auto;
			padding: 0;
			position: absolute;
			left: 10px;
			//top: 110px;
			bottom: -90px;
		}
		time{
			height: auto;
			border: 0;
			position: absolute;
			top: 110px;
			right: 9.5%;
			padding: 0;
		}
		.souvenir{
			display: none;
		}
	}
}

@media (max-width: 480px){
	.portfolio-item{
		width: calc(100% - 30px);
		.wrapper-desc{
			width: 98%;
		}
		.bg-img{
			display: none;
		}
		time{
			right: 7%;
		}
	}
}


@media (max-height: 870px){
	.portfolio-list{
		padding-top: 200px;
		margin-top: 5vh;
	}
}

@media (max-width: 1200px) and (max-height: 800px){
	.portfolio-list{
		padding-top: 100px;
	}
}

@media (max-height: 767px){
	.portfolio-item{
		height: 130px;
		margin: 20px 0;
		&:nth-of-type(even){
			margin-bottom: 40px;
		}
		.wrapper-bloc{
			height: 105px;
		}
		.wrapper-desc{
			height: 130px;
		}
	}
}

@media (max-height: 650px){
	.portfolio-list{
		padding-top: 0;
		margin-top: 0;
	}
}

