/* Years (about page) */

.container-year{
    position: absolute;
    top: -170px;
    bottom: 0;
    left: 0;
    right: 0;
    //z-index: 1;
    z-index: 3;
    pointer-events: none;
    svg{
        width: 125px;
        height: 125px;
        position: fixed;
        fill: none;
        stroke: $blue;
    }
}
.container-timeline{
    position: absolute;
    top: -170px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
    &:after{
        content: '';
        // border-right: 1px solid rgba($blue, 0.5);
        border-right: 1px solid rgba(#000, 0.2);
        position: absolute;
        top: 0;
        // bottom: 63px;
        bottom: 13px;
        width: 23.8%;
        left: 30px;
    }
}
#timeline{
    display: block;
    width: 1px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 15px;
    overflow: hidden;
    left: 23.8%;
    left: calc(23.8% + 30px);
    z-index: 2;
    margin-left: -1px;
    #content-timeline{
        display: block;
        width: 1px;
        height: 100%;
        position: fixed;
        backface-visibility: hidden;
        .tl{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $blue;
            transform: scaleY(0);
            //transition: transform 0.4s ease-out;
            backface-visibility: hidden;
            &.up{
                transform-origin: 0 0;
            }
            &.down{
                transform-origin: 0 100%;
            }
        }
    }
}
.container-year-landmark{
    position: absolute;
    top: -170px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    &.big-z-index{
        z-index: 4;
    }
    .no-js &{
        display: none;
    }
}
.year-landmark-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: $gutter;
    right: $gutter;
}
.year-landmark{
    position: fixed;
    width: 125px;
    height: 125px;
    @include gotham-medium(1em);
    text-transform: uppercase;
    text-align: center;
    line-height: 125px;
    color: $blue;
    .border-svg{
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(#000, 0.2);
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
    svg{
        fill: none;
        position: absolute;
        width: 125px;
        height: 125px;
        top: -1px;
        left: -1px;
        stroke: $blue;
    }
}
.year{
    // width: 80px;
    width: 125px;
    height: 125px;
    @include gotham-medium(1em);
    text-transform: uppercase;
    text-align: center;
    line-height: 125px;
    border-radius: 50%;
    span{
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    &.fixed{
        left: 125px;
        .svg-year-content{
            opacity: 1;
        }
        span{
            opacity: 1;
            transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
    .svg-year-content{
        position: absolute;
        top: -1px;
        left: -1px;
        width: 125px;
        height: 125px;
        opacity: 0;
    }
    &:after{
        content: '';
        width: 150%;
        height: 1px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 100%;
        // background: rgba(#000, 0.2);
        .footer-page-about &{
            // background: rgba($blue, 0.5);
        }
    }
}
.year-wrapper{
    width: 23.8%;
    position: absolute;
    top: 0;
    bottom: -50px;
    overflow: hidden;
    /*&:after{
        content: '';
        border-right: 1px solid rgba($blue, 0.5);
        position: absolute;
        top: 0;
        bottom: 63px;
        right: 0;
    }*/
    .year{
        opacity: 1;
        position: absolute;
        left: 0;
        // left: 170px;
        color: rgba(#000, 0.2);
        transition: opacity 0.1s ease-in-out;
        &:first-child{
            color: #fff;
            span{
                opacity: 1;
            }
        }
        &:last-child{
            font-size: 1.4rem;
            color: $blue;
            &:after{
                background: rgba($blue, 0.5);
            }
            span{
                opacity: 0;
            }
        }
        &:after{
            transform: scaleX(0);
            transform-origin: 100% 0;
            transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        }
        &.fixed{
            &:after{
                transform: scaleX(1);
                transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
        &.fixed, &.fixed + div{
            opacity: 1 !important;
        }
    }
}
