{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='e404'{% endblock %}

{# Meta #}
{% block title %}404 &bull; Stéréosuper &bull; Uncommon digital agency{% endblock %}
{% block description %}Oh snap, you're here. That means you are lost. Oh wait, you want to play with our matching glove game?{% endblock %}

{# Multilingue #}
{% set url_fr = '404.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='e404' data-namespace='404' data-lang='{{ url_fr }}'>

        <div class='container'>
            <div class='text-404'>
                <h1>404 error</h1>
                <p>This page doesn't exist! While you are here, why don't you play a little matching glove game?</p>
            </div>
            <div class='logo-404' id='logo404'>
                <div id='stereo'></div>
                <div id='super'></div>
                <span id='counter'><span></span><i></i></span>
            </div>
        </div>

    </div>
{% endblock content %}
