{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='e404'{% endblock %}

{# Meta #}
{% block title %}404 &bull; Stéréosuper &bull; Uncommon digital agency{% endblock %}
{% block description %}Oh snap, you're here. That means you are lost. Oh wait, you want to play with our matching glove game?{% endblock %}
{% block og_img %}img/stereosuper-website.jpg{% endblock %}
{% set og_url = '404-error.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/404.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='e404' data-namespace='404' data-lang='{{ url_fr }}'>

        <div class='container'>
            <div class='text-404'>
                <h1>404 error</h1>
                <p>This page doesn't exist! While you are here, why don't you play a little matching glove game?</p>
            </div>
            <div class='logo-404' id='logo404'>
                <div id='stereo'>
                    <img src='layoutImg/stereo-1.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-2.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-3.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-4.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-5.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-6.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-7.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-8.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-9.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-10.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-11.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-12.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-13.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-14.jpg' alt='' class='to-load'>
                    <img src='layoutImg/stereo-15.jpg' alt='' class='to-load'>
                </div>
                <div id='super'>
                    <img src='layoutImg/super-1.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-2.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-3.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-4.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-5.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-6.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-7.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-8.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-9.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-10.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-11.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-12.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-13.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-14.jpg' alt='' class='to-load'>
                    <img src='layoutImg/super-15.jpg' alt='' class='to-load'>
                </div>
                <span id='counter'><span></span><i></i></span>
            </div>
        </div>

    </div>
{% endblock content %}
