{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}lbb{% endblock %}

{# Meta #}
{% block portfolio_title %}La Belle Boîte &bull; Stéréosuper portfolio &bull; Supreme digital agency{% endblock %}
{% block description %}2016: Stéréosuper created the visual identity and website of La Belle Boîte. La Belle Boîte design and animate workshops, trainings and corporate french events.{% endblock %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/la-belle-boite.html' %}

{# Content #}
{% block portfolio_text %}
    <p>La Belle Boîte’s happy troublemakers design and animate workshops, trainings and corporate events.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2014, we created their visual identity.&nbsp;<br>In 2016, we made their website.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.labelleboite.fr/{% endblock %}

{% set prev_ref_link = 'alvencapital-en.html' %}
{% set prev_ref_name = 'Alven Capital' %}
{% set next_ref_link = 'akeneo-en.html' %}
{% set next_ref_name = 'Akeneo' %}
