{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='about'{% endblock %}

{# Meta #}
{% block title %}About Stéréosuper &bull; Lovable digital agency {% endblock %}
{% block description %}Once upon a time, in France, a digital agency was born. Its name was Stéréosuper, and its story is full of adventures and humorous anecdotes.{% endblock %}
{% set og_url = 'about.html' %}
{% block og_img %}img/stereosuper-team.jpg{% endblock %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/a-propos.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='about' data-namespace='about' data-lang='{{ url_fr }}'>
        <div class='container-relative'>
            <div class='container container-title'>
                <div class='title'>
                    <h1>Super story</h1>
                </div>

                <header class='content-about'>
                    <p data-year='2008'>After years working for other people, we decided is was time to create our dream agency.</p>
                    <p>An agency that spends 100% of its time on its clients. <br>
                    Not on pre-sales mockups.</p>
                    <p>That works hand in hand with clients. Starting from the sketches.</p>
                    <p>That makes the most of project constraints, <br>
                    instead of whining and throwing tantrums.</p>
                </header>
            </div>
            <div class='container container-year-landmark'>
                <div class='year-landmark-wrapper'>
                    <div class='year-landmark'>
                        <span></span>
                        <div class='border-svg'>
                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 102 102' id='yearSvg'>
                               <path stroke-width='1' d='M50,0L50,0c27.6,0,50,22.4,50,50v0c0,27.6-22.4,50-50,50h0C22.4,100,0,77.6,0,50v0C0,22.4,22.4,0,50,0z'/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class='content-white container-txt-about'>
                <div class='container'>
                    <section class='content-about'>
                        <h2>It's decided</h2>
                        <p class='subtitle-about'>We’ll call it "Méganet"! <br>
                        What? It's taken? Ok, "Stéréosuper" is cool also, I guess.</p>
                        <div class='intro-img'>
                        <div class='intro-imgs'>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-1' src='img/casquette.png' srcset='img/casquette.png 1x, img/casquette@2x.png 2x' alt='Cap'>
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <a href='https://vimeo.com/27150543' target='_blank' title='Watch the "Kimono" video on Vimeo'><img class='animateOnScroll pola-2' src='img/kimono.png' srcset='img/kimono.png 1x, img/kimono@2x.png 2x' alt='Kimono'></a>
                            </div>
                            <div class='intro-img wrapperAnimateOnScroll'>
                                <a href='https://vimeo.com/25092097' target='_blank' title='Watch the "Adopt us" video on Vimeo'><img class='animateOnScroll pola-3' src='img/masques.png' srcset='img/masques.png 1x, img/masques@2x.png 2x' alt='Masks'></a>
                            </div>
                        </div>
                        <p class='text-img drivy'>
                            <span data-year='2010'>Drivy wanted the French to understand that cars can <br>do better than being parked 97% of the time. We really hit it off.</span>
                            <span class='wrapperAnimateOnScroll zone-img'>
                                <img class='animateOnScroll img-clefs' src='img/clefs.png' srcset='img/clefs.png 1x, img/clefs@2x.png 2x' alt='Drivy car keys'>
                            </span>
                        </p>
                        <p class='subtitle-about'>We designed a page, and it was very successful. <br>
                        We realized we really love that stuff…</p>
                        <h2>You know: using our <br>creativity to persuade</h2>
                    </section>

                    <section class='content-about big-margin-top'>
                        <p>Since then, we’ve helped a lot of startups, <br>
                        mostly during their crucial first steps towards growth.</p>
                        <p class='subtitle-about'>To convince. To expand the target. To add value to products.</p>
                        <h2>And to make brands <br> radiate quality.</h2>
                        <p data-year='2012'>So we gave <a href='chauffeur-prive-en.html' title='Our work for Chauffeur Privé'>Chauffeur Privé</a> a red tie, <br>designed their mobile app and their site.</p>
                        <div class='wrapperAnimateOnScroll wrapper-img-cp'><img class='animateOnScroll img-cp' src='img/cravate.png' srcset='img/cravate.png 1x, img/cravate@2x.png 2x' alt='Chauffeur-Privé tie'></div>

                        <p class='text-img over'>
                            <span data-year='2013'>We built a site for <a href='iadvize-en.html' title='Our work for iAdvize'>iAdvize</a></span>
                            <span class='wrapperAnimateOnScroll wrapper-img-tasse'>
                                <img class='animateOnScroll img-tasse' src='img/tasse.png' srcset='img/tasse.png 1x, img/tasse@2x.png 2x' alt='iAdvize mug'>
                            </span>
                        </p>

                        <p class='text-img'>
                            <span data-year='2015'>Imagined a new corporate identity for <a href='captain-train-en.html' title='Our work for Captain Train'>Captain Train</a></span>
                            <span class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll img-sac' src='img/sac.png' srcset='img/sac.png 1x, img/sac@2x.png 2x' alt='Captain Train tote bag'>
                            </span>
                        </p>

                        <p class='text-img'>
                            <span data-year='2016'>Built sites for <a href='akeneo-en.html' title='Our work for Akeneo'>Akeneo</a>, and <a href='alvencapital-en.html' title='Our work for Alven Capital'>Alven Capital</a></span>
                            <span class='wrapperAnimateOnScroll wrapper-img-peluche'>
                                <img class='animateOnScroll img-peluche' src='img/peluche.png' srcset='img/peluche.png 1x, img/peluche@2x.png 2x' alt='Akeneo teddy bear'>
                            </span>
                        </p>
                    </section>

                    <section class='content-about'>
                        <p class='no-margin-top'>Recommendation after recommendation, Stéréosuper grew. <br>
                        And recruited likeminded, talented people.</p>
                        <h2>We do not strive to be <br>the big agency.</h2>
                        <p class='subtitle-about'>Our goal was always to improve the quality of what we do.</p>
                        <p>There are now 6 us, doing super stuff.</p>
                        <p class='legend'>And sharing a fascination with <a href='https://www.youtube.com/watch?v=oKI-tD0L18A' target='_blank' title='Kittens on YouTube'>kittens</a>, <a href='https://www.youtube.com/watch?v=U4CV9LebIa8' target='_blank' title='Furbys on YouTube'>Furbys</a>, <a href='https://www.youtube.com/watch?v=sxkYMV30Lzs' target='_blank' title='Crappy music on YouTube'>crappy music</a> Fridays and <a href='https://www.youtube.com/watch?v=UDSApoI2Xy0' target='_blank' title='Nerfs on YouTube'>Nerfs guns</a>.</p>

                        <div class='team'>
                            <div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-1' src='img/adrien.png' srcset='img/adrien.png 1x, img/adrien@2x.png 2x' alt='Adrien'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-2' src='img/elisabeth.png' srcset='img/elisabeth.png 1x, img/elisabeth@2x.png 2x' alt='Elisabeth'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-8' src='img/rapha.png' srcset='img/rapha.png 1x, img/rapha@2x.png 2x' alt='Raphaël'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-3' src='img/boris.png' srcset='img/boris.png 1x, img/boris@2x.png 2x' alt='Boris'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-4' src='img/clement.png' srcset='img/clement.png 1x, img/clement@2x.png 2x' alt='Clément'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-7' src='img/alban.png' srcset='img/alban.png 1x, img/alban@2x.png 2x' alt='Alban'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-6' src='img/jf.png' srcset='img/jf.png 1x, img/jf@2x.png 2x' alt='Jean-François'>
                            </div><div class='wrapperAnimateOnScroll'>
                                <img class='animateOnScroll pola-team-5' src='img/vincent.png' srcset='img/vincent.png 1x, img/vincent@2x.png 2x' alt='Vincent'>
                            </div>
                        </div>

                        <p>
                            All these challenges have made us better. Professionally and as humans. <br>
                            We love using this experience to help a wide range of projects and clients. <br>
                            <span class='p-relative fade-txt-wrapper'>
                                <span class='open-txt-about'>Even <button role='button' id='openTxtAbout'>where we’re not expected</button>.</span>
                                <span class='fade-txt'>
                                    Do you think selling fuel is tacky? <a href='fioulreduc-en.html' title='Our work for Fioulreduc'>Wrong</a> <br>
                                    That construction giants are too corporate and talk too much? <a href='leon-grosse-en.html' title='Our work for Léon Grosse'>Wrong</a> <br>
                                    That VCs are arrogant? <a href='alvencapital-en.html' title='Our work for Alven Capital'>Wrong</a>
                                </span>
                            </span>
                        </p>

                        <p data-year='now' class='last-p'>This is just the beginning!</p>
                    </section>
                </div>
            </div>

            <div class='container container-year'>
                <div class='year-wrapper' id='year'></div>
            </div>

            <div class='container container-timeline'>
                <div id='timeline'>
                    <div id='content-timeline'>
                        <div id='tl'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='content-white hide-footer'>
            <div class='container'>
                <h2 class='title-about'>What if we did together, in stereo, <span>a<span id='writting' data-text=' super concept?, super conversion?, super logo?, super experience?, super website?'> super website?</span></span></h2>
                <a href='contact-us.html' class='link-arrow' title='Our contact informations'>
                    <span>Let's talk</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
        </div>

        <footer class='footer-page-about'>
            <div class='container'>
                <div class='year'>Tomorrow</div>
                <div class='content-about'>
                    <p>Last but not least, Stéréosuper goes all American dream and opens an office in Brooklyn.
                        <a href='https://frenchies.stereosuper.fr' class='link-arrow' title='Work with frenchies' target="_blank">
                            <span>Want to know more?</span>
                            <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                            <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}
