{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}akeneo{% endblock %}

{# Meta #}
{% block title %}Akeneo &bull; Stéréosuper portfolio &bull; Magic digital agency{% endblock %}
{% block description %}2017: Stéréosuper redesigned the Akeneo website. Akeneo is a french based startup that raised €1.6m in 2014.{% endblock %}
{% set og_url = 'akeneo-en.html' %}

{# Multilingue #}
{% set url_fr = 'http://stereosuper.fr/akeneo.html' %}

{# Content #}
{% block portfolio_title %}Akeneo{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Akeneo is a product catalog management solution tailored to many markets and media. Their platform is used by Vuitton, Auchan, Made.com, Pimkie and many other retail giants. In 2017, the Nantes based startup raised €11m.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2017, we redesigned their website.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.akeneo.com{% endblock %}

{% set prev_ref_link = '' %}
{% set prev_ref_name = '' %}
{% set next_ref_link = 'thinkovery-en.html' %}
{% set next_ref_name = 'Thinkovery' %}
