{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}alven{% endblock %}

{# Meta #}
{% block title %}Alven Capital &bull; Stéréosuper portfolio &bull; Wunderbar digital agency{% endblock %}
{% block description %}2016: Stéréosuper redesigned the Alven Capital website. Alven Capital is one of the most prestigious independent  investment funds{% endblock %}
{% set og_url = 'alvencapital-en.html' %}

{# Multilingue #}
{% set url_fr = 'http://stereosuper.fr/alvencapital.html' %}

{# Content #}
{% block portfolio_title %}Alven Capital{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Alven Capital is one of the most prestigious independent French investment funds. You’ll find many Stéréosuper references in their portfolio: <a href='drivy-en.html' title='Our work for Drivy'>Drivy</a>, <a href='iadvize-en.html' title='Our work for iAdvize'>iAdvize</a>, <a href='wisembly-en.html' title='Our work for Wisembly'>Wisembly</a>, <a href='captain-train-en.html' title='Our work for Captain Train'>Captain Train</a> et <a href='akeneo-en.html' title='Our work for Akeneo'>Akeneo</a>.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2016, we redesigned their website.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.alvencapital.com{% endblock %}

{% set prev_ref_link = 'leon-grosse-en.html' %}
{% set prev_ref_name = 'Leon Grosse' %}
{% set next_ref_link = 'akeneo-en.html' %}
{% set next_ref_name = 'Akeneo' %}
