{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}captain{% endblock %}

{# Meta #}
{% block title %}Captain Train &bull; Stéréosuper portfolio &bull; Amazing digital agency{% endblock %}
{% block description %}2015: Stéréosuper helped Captain Train with their image and new logo. Captain Train revolutionized buying train tickets in Europe. Then it and was acquired for $190m in 2016.{% endblock %}
{% set og_url = 'captain-train-en.html' %}

{# Multilingue #}
{% set url_fr = 'http://stereosuper.fr/captain-train.html' %}

{# Content #}
{% block portfolio_title %}Captain Train{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Captain Train revolutionized buying train tickets in France and more than 20 European countries. The company was acquired by Trainline for $190m in 2016.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2015, we helped them with their image and new logo.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left souvenir ct' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = false %}
{% set animation = false %}
{% set dev = false %}

{% set website = false %}

{% set souvenir = true %}

{% set prev_ref_link = 'akeneo-en.html' %}
{% set prev_ref_name = 'Akeneo' %}
{% set next_ref_link = 'architecture-aujourdhui-en.html' %}
{% set next_ref_name = "L'Architecture d'Aujourd'hui" %}
