{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}chauffeur{% endblock %}

{# Meta #}
{% block title %}Chauffeur-Privé &bull; Stéréosuper portfolio &bull; Incredible digital agency{% endblock %}
{% block description %}From 2012 to 2015: Stéréosuper helped Chauffeur Privé, the French Uber, to create its brand (the famous red tie), its application and its website, and did almost all its campaigns.{% endblock %}
{% set og_url = 'chauffeur-prive-en.html' %}

{# Multilingue #}
{% set url_fr = 'http://stereosuper.fr/chauffeur-prive.html' %}

{# Content #}
{% block portfolio_title %}Chauffeur Privé{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Chauffeur Privé is the French Uber. It had the second largest growth among French startups this year. Chauffeur has been valued at 25 million euros in 2015 and raised €5m.</p>
{% endblock %}

{% block portfolio_role %}
    <p>Between 2012 and 2015, we helped them create their brand (the famous red tie), their application and their website, and we did almost all their campaigns.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'left souvenir cp' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = false %}

{% set souvenir = true %}

{% set prev_ref_link = 'institut-avignon-en.html' %}
{% set prev_ref_name = "Institut d'Avignon" %}
{% set next_ref_link = 'iadvize-en.html' %}
{% set next_ref_name = 'iAdvize' %}
