{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='contact bw'{% endblock %}

{# Meta #}
{% block title %}Contact Stéréosuper &bull; French digital agency{% endblock %}
{% block description %}You have taken the right decision! You want to talk to Stéréosuper about your project! Good for you. We are looking forward to know more about it!{% endblock %}
{% set og_url = 'contact-us.html' %}
{% block og_img %}img/stereosuper-coffee.jpg{% endblock %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/contact.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='contact bw' data-namespace='contact'>
        <div class='contact-container'>
            <div class='container'>
                <div class='title'>
                    <h1><br />Find us</h1>
                    <p>Come visit us in Nantes, France.</p>
                </div>
            </div>

            <div class='content'>
                <div class='container'>
                    <div class='grid'>
                        <ul class='col'>
                            <li>
                                <a href='mailto:bisou@stereosuper.fr' title='Send us an email' class='link-arrow'>
                                    <span>bisou@stereosuper.fr</span>
                                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                                </a>
                            </li>
                            <li>
                                <a href='tel:+33951248536' title='Call us'>
                                    <strong>+33 9 51 24 85 36</strong>
                                </a>
                            </li>
                        </ul><ul class='col'>
                            <li>
                                <a href="https://www.google.fr/maps/place/47%C2%B013'33.4%22N+1%C2%B033'24.5%22W/@47.2259359,-1.5573432,19z/data=!3m1!4b1!4m14!1m7!3m6!1s0x4805ee9ec34f8e91:0xb6d012fb610addfb!2s37+Quai+de+Versailles,+44000+Nantes!3b1!8m2!3d47.2262527!4d-1.5558604!3m5!1s0x0:0x0!7e2!8m2!3d47.2259348!4d-1.5567965" target='_blank' class='link-arrow'>
                                    <span>37 Quai de Versailles, impasse des Clémentines&nbsp;<svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg></span>
                                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                                </a>
                            </li>
                            <li><strong>44000 NANTES</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id='map'></div>

    </div>
{% endblock content %}
