{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}corwave{% endblock %}

{# Meta #}
{% block title %}Corwave &bull; Stéréosuper portfolio &bull; Your sister's secret digital agency{% endblock %}
{% block description %}2018: Stéréosuper designed Corwave website. CorWave develops innovative implantable blood pumps.{% endblock %}
{% set og_url = 'concord.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/corwave.html' %}

{# Content #}
{% block portfolio_title %}Concord{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>CorWave develops innovative implantable blood pumps. In 2016, it raised €15m.<br></p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2018, we redesigned their website.</a></p>
{% endblock %}


{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.corwave.com/{% endblock %}

{% set prev_ref_link = 'clustree-en.html' %}
{% set prev_ref_name = 'Clustree' %}
{% set next_ref_link = 'concord-en.html' %}
{% set next_ref_name = 'Concord' %}
