{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}drivy{% endblock %}

{# Meta #}
{% block portfolio_title %}Drivy &bull; Stéréosuper portfolio &bull; Smart digital agency{% endblock %}
{% block description %}2012: Stéréosuper designed Drivy website, created its mascot and created an animated presentation of the service. Drivy allows everyone to rent out their car.{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Drivy allows everyone to rent out their car. Since its founding, the startup has allowed for 1.4 million days of car rental. In 2016, it raised €31m.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2012, we designed their website, created their mascot — a small pink car — and created an animated presentation of their service.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'top souvenir' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = true %}
{% set dev = false %}

{% set website = false %}

{% set souvenir = true %}

{# {% set prev_ref_link = 'kiubi.html' %}
{% set prev_ref_name = 'Kiubi' %} #}
{% set prev_ref_link = 'iadvize-en.html' %}
{% set prev_ref_name = 'iAdvize' %}
{% set next_ref_link = '' %}
{% set next_ref_name = '' %}
