{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='home'{% endblock %}

{# Meta #}
{% block title %}Bisou bisou ! &bull; Stéréosuper &bull; Digital web agency{% endblock %}
{% block description %}At Stéréosuper, we love helping our clients meet their goals through creative online communication. We are opening an office in Brooklyn!{% endblock %}
{% set og_url = 'home.html' %}
{% block og_img %}img/stereosuper-website-en.jpg{% endblock %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/' %}

{# Content #}
{% block content %}
	<div id='page' class='barba-container' data-class='home' data-namespace='home' data-lang='{{ url_fr }}'>
        <div class='wrapper-video-home' id='video'></div>

        <header class='container block-title' id='blockTitle'>
            <h1><span class='strikethrough'>Mono&nbsp;&amp;</span><br /> <span class='strikethrough'>Nul,&nbsp;<br /></span>Stéréo&nbsp;&amp;<br/>Super.</h1>
            <div class='text-home text-home-en'>
                <p>We love helping you meet your goals through creative online communication.</p>
                <a href='about.html' class='link-arrow link-caps' title='About us'>
                    <span>Read more</span>
                    <svg class='icon i1'><use xlink:href='#icon-big-arrow'/></svg>
                    <svg class='icon i2'><use xlink:href='#icon-big-arrow'/></svg>
                </a>
            </div>
            <a href="https://frenchies.stereosuper.fr/cooking.html" class="frenchies" target="_blank" aria-label="work with frenchies #stereosuperUSA">
                <div class="inner">
                    <svg class='stereosuper-usa'><use xlink:href='#icon-text-usa'/></svg>
                </div>
            </a>
        </header>

        <div class='container skills-home' id='skillsHome'>
            <ul class='skills' data-skill-selected=''>
                <li class='skill' data-skill='strategy'>
                    <div class='symbol'>
                        <div class='list-symbols dashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Branding
                </li><li class='skill' data-skill='identity'>
                    <div class='symbol'>
                        <div class='wrapper-waves hoverAnimation'>
                            <svg class='icon waves'><use xlink:href='#icon-waves'/></svg>
                        </div>
                    </div>
                    Visual identity
                </li><li class='skill' data-skill='design'>
                    <div class='symbol'>
                        <div class='wrapper-zigzags hoverAnimation'>
                            <svg class='icon zigzags'><use xlink:href='#icon-zigzags'/></svg>
                        </div>
                    </div>
                    Design
                </li><li class='skill' data-skill='animation'>
                    <div class='symbol'>
                        <div class='list-symbols slashes hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Animation
                </li><li class='skill' data-skill='dev'>
                    <div class='symbol'>
                        <div class='list-symbols dots hoverAnimation'>
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    Development
                </li>
            </ul>
        </div>

        <section class='container portfolio-list' id='portfolio'>
            <ul class='portfolio-items'>
                <li class='portfolio-item corwave-item' data-skill='design,animation,dev' data-opacity='0.7' id='corwave'>
                    <a href='corwave-en.html' title='Stéréosuper worked for Corwave'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Corwave
                                    <svg class='icon'><use xlink:href='#icon-corwave'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2018'>2018</time>
                            <span class='title'>Corwave</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item concord-item' data-skill='design,animation,dev' data-opacity='0.7' id='concord'>
                    <a href='concord-en.html' title='Stéréosuper worked for Concord'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Concord
                                    <svg class='icon'><use xlink:href='#icon-concord'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2018'>2018</time>
                            <span class='title'>Concord</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item precogs-item' data-skill='identity,design,animation,dev' data-opacity='0.7' id='precogs'>
                    <a href='precogs-en.html' title='Stéréosuper worked for Precogs'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Precogs
                                    <svg class='icon'><use xlink:href='#icon-precogs'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2018'>2018</time>
                            <span class='title'>Precogs</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item beneteau-item' data-skill='design,animation,dev' data-opacity='0.7' id='beneteau'>
                    <a href='beneteau-en.html' title='Stéréosuper worked for Beneteau'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Beneteau Group
                                    <svg class='icon'><use xlink:href='#icon-beneteau'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Beneteau Group</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item ector-item' data-skill='strategy,design,animation' data-opacity='0.7' id='ector'>
                    <a href='ector-en.html' title='Stéréosuper worked for Ector'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Ector
                                    <svg class='icon'><use xlink:href='#icon-ector'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Ector</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item beezup-item' data-skill='design,animation,dev' data-opacity='0.8' id='beezup'>
                    <a href='beezup-en.html' title='Stéréosuper worked for Beezup'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Beezup
                                    <svg class='icon'><use xlink:href='#icon-beezup'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Beezup</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item akeneo-item' data-skill='design,animation,dev' data-opacity='0.8' id='akeneo'>
                    <a href='akeneo-en.html' title='Stéréosuper worked for Akeneo'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Akeneo
                                    <svg class='icon'><use xlink:href='#icon-akeneo'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Akeneo</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item thinkovery-item' data-skill='strategy,identity,design,animation,dev' data-opacity='0.8' id='thinkovery'>
                    <a href='thinkovery-en.html' title='Stéréosuper worked for Thinkovery'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Thinkovery
                                    <svg class='icon'><use xlink:href='#icon-thinkovery'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2017'>2017</time>
                            <span class='title'>Thinkovery</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item leon-item' data-skill='design,animation,dev' data-opacity='0.8' id='leon'>
                    <a href='leon-grosse-en.html' title='Stéréosuper worked for Léon Grosse'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Léon Grosse
                                    <svg class='icon'><use xlink:href='#icon-leon-grosse'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Léon Grosse</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item alven-item' data-skill='design,animation,dev' data-opacity='0.8' id='alven'>
                    <a href='alvencapital-en.html' title='Stéréosuper worked for Alven Capital'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    AlvenCapital
                                    <svg class='icon'><use xlink:href='#icon-alven'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Alven Capital</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item captain-item' data-skill='strategy,identity' data-opacity='0.7' id='captain'>
                    <a href='captain-train-en.html' title='Stéréosuper worked for Captain Train'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Captain Train
                                    <svg class='icon'><use xlink:href='#icon-captaintrain'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2016'>2016</time>
                            <span class='title'>Captain Train</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item aa-item' data-skill='design,dev' data-opacity='0.9' id='aa'>
                    <a href='architecture-aujourdhui-en.html' title="Stéréosuper worked for l'Architecture d'Aujourd'hui">
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    L'Architecture d'Aujourd'hui
                                    <svg class='icon'><use xlink:href='#icon-aa'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>L'Architecture d'Aujourd'hui</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item avignon-item' data-skill='design,animation,dev' data-opacity='0.8' id='avignon'>
                    <a href='institut-avignon-en.html' title="Stéréosuper worked for Institut d'Avignon">
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Institut d'Avignon
                                    <svg class='icon'><use xlink:href='#icon-avignon'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2015</time>
                            <span class='title'>Institut d'Avignon</span>
                        </div>
                    </a>
                </li>
                <li class='portfolio-item chauffeur-item' data-skill='strategy,identity,design,animation,dev' data-opacity='0.9' id='chauffeur'>
                    <a href='chauffeur-prive-en.html' title='Stéréosuper worked for Chauffeur Privé'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Chauffeur Privé
                                    <svg class='icon'><use xlink:href='#icon-chauffeurprive'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2015'>2012-2015</time>
                            <span class='title'>Chauffeur Privé</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
                <!-- <li class='portfolio-item iadvize-item' data-skill='design,dev' data-opacity='0.7' id='iadvize'>
                    <a href='iadvize-en.html' title='Stéréosuper worked for iAdvize'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    iAdvize
                                    <svg class='icon'><use xlink:href='#icon-iadvize'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2013'>2013</time>
                            <span class='title'>iAdvize</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>-->
                <li class='portfolio-item drivy-item' data-skill='design,animation' data-opacity='0.9' id='drivy'>
                    <a href='drivy-en.html' title='Stéréosuper worked for Drivy'>
                        <div class='wrapper-bloc'>
                            <h2>
                                <span class='logo'>
                                    Drivy
                                    <svg class='icon'><use xlink:href='#icon-drivy'/></svg>
                                </span>
                                <span class='bg'></span><span class='wrapper-bg-img'>
                                    <span class='bg-img'></span>
                                </span>
                            </h2>
                        </div>
                        <div class='wrapper-desc'>
                            <span class='border-left'></span><span class='border-middle'></span>
                            <time datetime='2011'>2011</time>
                            <span class='title'>Drivy</span>
                            <svg class='icon souvenir'><use xlink:href='#icon-souvenir'/></svg>
                        </div>
                    </a>
                </li>
            </ul>
            {# <div class='offset top'></div>
            <div class='offset bottom'></div> #}
        </section>
    </div>
{% endblock content %}
