{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}iadvize{% endblock %}

{# Meta #}
{% block portfolio_title %}iAdvize &bull; Stéréosuper portfolio &bull; Hip digital agency{% endblock %}
{% block description %}2013: Stéréosuper redesigned iAdvize website. In 2014, the skyrocketing CRM startup raised €14m.{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>iAdvize is a CRM that allows merchants to interact with their prospects on their sites or through social networks.&nbsp;<br>In 2014, the skyrocketing Nantes startup raised €14m.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2013, we redesigned their website.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'portrait souvenir' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set animation = false %}
{% set dev = true %}

{% set website = false %}

{% set souvenir = true %}

{# {% set prev_ref_link = 'proximis.html' %}
{% set prev_ref_name = 'Proximis' %}
{% set next_ref_link = 'kiubi.html' %}
{% set next_ref_name = 'Kiubi' %} #}
{% set prev_ref_link = 'chauffeur-prive-en.html' %}
{% set prev_ref_name = 'Chauffeur Privé' %}
{% set next_ref_link = 'drivy-en.html' %}
{% set next_ref_name = 'Drivy' %}
