{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}avignon{% endblock %}

{# Meta #}
{% block title %}Institut d'Avignon &bull; Stéréosuper portfolio &bull; In-the-know digital agency{% endblock %}
{% block description %}2015: Stéréosuper redesigned Institut d'Avignon website. L'Institut d'Avignon is a summer course under the auspices of Bryn Mawr College, PA.{% endblock %}
{% set og_url = 'institut-avignon-en.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/institut-avignon.html' %}

{# Content #}
{% block portfolio_title %}L'Institut d'Avignon{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>L'Institut d'Avignon is a summer intensive program in French literature, history, and theater studies under the auspices of Bryn Mawr College, PA.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2015, we redesigned their website.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered avignon' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set ux = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.institutdavignon.fr/{% endblock %}

{% set prev_ref_link = 'captain-train-en.html' %}
{% set prev_ref_name = "Captain Train" %}
{% set next_ref_link = 'chauffeur-prive-en.html' %}
{% set next_ref_name = 'Chauffeur Privé' %}
