{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}klepierre{% endblock %}

{# Meta #}
{% block title %}Stuart &bull; Stéréosuper portfolio &bull; Blazing fast digital agency{% endblock %}
{% block description %}2019: Stéréosuper designed Klépierre : Bricks and Clicks mini website. Klépierre is a pan-European leader in shopping malls real estate.{% endblock %}
{% set og_url = 'klepierre-en.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/stuart.html' %}

{# Content #}
{% block portfolio_title %}Klepierre{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Klépierre is the european leader in shopping malls real estate.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2019, we designed and coded their mini-website <i>Klépierre&nbsp;: Bricks and Clicks</i></p>
{% endblock %}


{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.klepierre.com/bricks-and-clicks/{% endblock %}

{% set prev_ref_link = 'stuart-en.html' %}
{% set prev_ref_name = 'Stuart' %}
{% set next_ref_link = 'clustree-en.html' %}
{% set next_ref_name = 'Trustfolio' %}
