{% extends 'layout/layout.html.twig' %}

{% block body_attr %}class='bw legal'{% endblock %}

{# Meta #}
{% block title %}Legal notice &bull; Stéréosuper &bull; Great digital agency{% endblock %}
{% block description %}You really want to go through legal stuff? Even though this is the boring part of our website, there may or may not be some easter eggs in here!{% endblock %}

{# Multilingue #}
{% set url_fr = 'mentions.html' %}

{# Content #}
{% block content %}
    <div id='page' class='barba-container' data-class='bw' data-namespace='mentions' data-class='bw legal' data-lang='{{ url_fr }}'>
        <div class='container'>
            <div class='container-small'>
                <div class='title'>
                    <h1>Legal notice</h1>
                </div>
                <p>The User declares to have read the information below before visiting the Site. By choosing to access the Site, the User agrees expressly and irrevocably to the terms below.</p>
            </div>
        </div>
        <div class='content-white'>
            <div class='container'>
                <div class='container-small'>
                    <h2>Responsibility</h2>
                    <p>Stéréosuper is not be liable for the content of websites provided in links.</p>

                    <h2>Registration information</h2>
                    <p>Company: <strong>Stéréosuper</strong><br>
                    VAT #: <b>FR 76 520090903</b><br>
                    Main office: <b>1bis Rue Baron 44100 Nantes</b><br>
                    Contact: <strong><a href='mailto:contact@stereosuper.fr' title='Send an e-mail'>contact@stereosuper.fr</a></strong></p>

                    <p>Design and production: <strong>the amazing Stéréosuper team</strong><br>
                    Director of publication: <strong class='stupid-gif' data-gif='napoleon'>Jean-François Perrault</strong><br>
                    Webmaster: <strong class='stupid-gif' data-gif='office'>Boris Forconi</strong><br>
                    Swag: <strong class='stupid-gif' data-gif='swag'>Adrien le Menthéour</strong><br>
                    Dab: <strong class='stupid-gif' data-gif='dab'>Guillaume Caillet</strong><br>
                    Breton touch: <strong class='stupid-gif' data-gif='crepe'>Vincent Aribart</strong><br>
                    Metal: <strong class='stupid-gif' data-gif='metal'>Elisabeth Hamel</strong><br>
                    Writer, translator: <strong>Nicolas Grégoire</strong></p>

                    <p>Pictures and videos: <b>©Jean-François Perrault, assisted by Vincent Aribart</b></p>

                    <p>Hosting: <b><a href='https://www.ovh.com/' target='_blank'>OVH</a>, 2 rue kellermann BP 80157 59053 ROUBAIX Cedex 1</b></p>

                    <h2>Copyright</h2>
                    <p>The photographs, texts, slogans, drawings, images, videos, animated sequences with sound or not, are the property of Stéréosuper or third parties.</p>

                    <p>Logos, icons, and graphics displayed on the Site are protected by French copyright law articles L.511.1 and following of the Code of Intellectual Property pertaining to the protection of trademarked and copywrited designs.</p>

                    <p>The reproduction, on paper or digitally, of the site and works that are reproduced are allowed provided they are strictly for personal use, excluding any use for advertising and/or commercial purposes, and/or information and/or that they comply with the provisions of article L.122-5 of the Code of Intellectual Property.</p>

                    <p>Apart from the provisions above, any reproduction, representation, use or modification, by any method whatsoever and on any medium whatsoever, of all or part of site, all or part of the different works contained therein, without prior consent of Stéréosuper is strictly prohibited and constitutes counterfeiting and may lead civil and/or criminal prosecution and payment of damages.</p>

                    <h2>RSE</h2>
                    <p>No gloves, mittens or muffs were harmed in the making of this website.</p>
                </div>
            </div>
        </div>
        <div id='stupidGif'>
            <img src='img/office.gif' alt='' id='office'>
            <img src='img/swag.gif' alt='' id='swag'>
            <img src='img/dab.gif' alt='' id='dab'>
            <img src='img/metal.gif' alt='' id='metal'>
            <img src='img/napoleon.gif' alt='' id='napoleon'>
            <img src='img/crepe.gif' alt='' id='crepe'>
        </div>
    </div>
{% endblock content %}
