{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}leon{% endblock %}

{# Meta #}
{% block title %}Léon Grosse &bull; Stéréosuper portfolio &bull; Fearless digital agency{% endblock %}
{% block description %}2016: Stéréosuper redesigned Léon Grosse website. Léon Grosse is a French building and public works giant.{% endblock %}
{% set og_url = 'leon-grosse-en.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/leon-grosse.html' %}

{# Content #}
{% block portfolio_title %}Léon Grosse{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Léon Grosse is a building and public works giant. With sales of 720 M€ in 2014 and 2300 employees, Léon Grosse is the fifth French construction and public works company.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2016, we redesigned their website. And now we’re working on their intranet’s user experience and design.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = true %}
{% set ux = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.leongrosse.fr/{% endblock %}

{% set prev_ref_link = 'akeneo-en.html' %}
{% set prev_ref_name = 'Akeneo' %}
{% set next_ref_link = 'alvencapital-en.html' %}
{% set next_ref_name = 'Alvencapital' %}
