{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}myforum{% endblock %}

{# Meta #}
{% block portfolio_title %}myForum &bull; Portfolio de Stéréosuper &bull; Agence web tout terrain{% endblock %}
{% block description %}En 2016, Stéréosuper a refondu la galaxie de sites Internet et le logo MyForum, un service d'accompagnement des entrepreneurs.{% endblock %}

{# Content #}
{% block portfolio_text %}
    <p>Originally known for its galaxy of professional classified sites, myForum includes many services to entrepreneurs. More than 20,000 transactions were conducted on various sites since 2002.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2016, we helped them reboot all of their websites and their image.</p>
{% endblock %}


{% set cover_ext = 'png' %}
{% set cover_class = 'centered myForum' %}

{% set strategy = false %}
{% set identity = true %}
{% set design = true %}
{% set animation = true %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}http://www.my-forum.fr/{% endblock %}

{% set prev_ref_link = 'leon-grosse-en.html' %}
{% set prev_ref_name = 'Leon Grosse' %}
{% set next_ref_link = 'alvencapital-en.html' %}
{% set next_ref_name = 'Alven Capital' %}
