{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}stuart{% endblock %}

{# Meta #}
{% block title %}Stuart &bull; Stéréosuper portfolio &bull; lover's digital agency{% endblock %}
{% block description %}2019: Stéréosuper developped Stuart website. Stuart is a start-up company specializing in same-day or next day delivery for businesses.{% endblock %}
{% set og_url = 'stuart-en.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/stuart.html' %}

{# Content #}
{% block portfolio_title %}Stuart{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Stuart specialises in same-day or next day delivery for businesses. In 2015, it raised €22m</p>
{% endblock %}

{% block portfolio_role %}
    <p>Since 2019, we develop their website.</p>
{% endblock %}


{% set cover_ext = 'jpg' %}

{% set strategy = false %}
{% set identity = false %}
{% set design = false %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://stuart.com{% endblock %}

{% set prev_ref_link = '' %}
{% set prev_ref_name = '' %}
{% set next_ref_link = 'klepierre-en.html' %}
{% set next_ref_name = 'Klepierre-en' %}
