{% extends 'layout/portfolio.html.twig' %}

{# The portfolio_slug should be the same used in sass variable and to name all the images #}
{% block portfolio_slug %}thinkovery{% endblock %}

{# Meta #}
{% block title %}Beezup &bull; Stéréosuper portfolio &bull; Would have been Steve McQueen's digital agency{% endblock %}
{% block description %}2017: Stéréosuper redesigned Thinkovery website. Thinkovery is a nice (and smart) Digital learning agency. They make high-quality digital learning courses, using the right tool such as MOOC or SPOC.{% endblock %}
{% set og_url = 'thinkovery-en.html' %}

{# Multilingue #}
{% set url_fr = 'https://www.stereosuper.fr/thinkovery.html' %}

{# Content #}
{% block portfolio_title %}Thinkovery{% endblock %} {# Text in h1, doesn't appear but still important #}

{% block portfolio_text %}
    <p>Thinkovery is a smart, french, and awesome Digital learning agency. They make high-quality digital learning courses, using the right tools —such as MOOC or SPOC— for the right clients.</p>
{% endblock %}

{% block portfolio_role %}
    <p>In 2017, we redesigned their website and their image.</p>
{% endblock %}

{% set cover_ext = 'jpg' %}

{% set strategy = true %}
{% set identity = true %}
{% set design = true %}
{% set ux = false %}
{% set dev = true %}

{% set website = true %}
{% block portfolio_url %}https://www.thinkovery.com/{% endblock %}

{% set prev_ref_link = 'akeneo-en.html' %}
{% set prev_ref_name = 'Akeneo' %}
{% set next_ref_link = 'leon-grosse-en.html' %}
{% set next_ref_name = 'Léon Grosse' %}
